{% extends "/layouts/main.html" %}

{% block header %}
  {% from "govuk/components/header/macro.njk" import govukHeader %}

  {{ govukHeader({
  homepageUrl: "#"
}) }}

  {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

  {{ govukServiceNavigation({
    classes: "govuk-!-margin-bottom-2",
    serviceName: "Defra account",
    navigation: [
    {
      text: "Joe Bloggs"
    },
    {
      href: "/layouts/Private-beta/MVP-Registration/V2/S2/WR2/2-orgs-added",
      text: "Manage account",
      active: true
    },
    {
      href: "#",
      text: "Sign out"
    }
  ]
  }) }}

{% endblock %}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">Register for more services</h1>

            <p class="govuk-body">The following services are available for you to register Joe B Recycling Ltd with.</p>

            <p class="govuk-body">To register click the links below.</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>
                    <a class="govuk-link" href="/layouts/Private-beta/Assessment-journey/V1/S2/WR2/manage-2nd-org-service-added">Report receipt of waste</a>
                </li>
            </ul>

        </div>
    </div>

{% endblock %}