{% extends "/layouts/main.html" %}

{% block header %}
  {% from "govuk/components/header/macro.njk" import govukHeader %}

  {{ govukHeader({
  homepageUrl: "#"
}) }}

  {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

  {{ govukServiceNavigation({
    classes: "govuk-!-margin-bottom-2",
    serviceName: "Report receipt of waste",
    serviceUrl: "#"
  }) }}

{% endblock %}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="/layouts/Private-beta/Waste-movements/designs">give your feedback (opens in new tab)</a>.'
}) }}

  {# <a class="govuk-back-link" href="javascript:history.back()">Back</a> #}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <span class="govuk-caption-l">Joe B Waste Services</span>
      <h1 class="govuk-heading-l">Connect your software to the API</h1>

      <p class="govuk-body">You need waste specific software to connect to the Defra Receipt of waste API.</p>

      <form class="form" action="/layouts/Private-beta/MVP-Registration/V2/S1/WR1/view-your-API" method="post">

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I cannot use the API
          </span>
        </summary>
        <div class="govuk-details__text">
          If you do not have the software needed to use the API, you can send your data using Defra's <a class="govuk-link" href="/layouts/Private-beta/MVP-Registration/V1/S1/guidance">Receipt of waste spreadsheet</a>. 
        </div>
      </details>


    </div>
  </div>

{% endblock %}