{% extends "/layouts/main.html" %}

{% block header %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

{{ govukHeader({
  homepageUrl: "#"
}) }}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukServiceNavigation({
    classes: "govuk-!-margin-bottom-2",
  serviceName: "Report receipt of waste",
  serviceUrl: "#",
  navigation: [
    {
      href: "/layouts/Private-beta/Web-form/Idea-B/J1/waste-account",
      text: "Waste receivers account"
    }
  ]
}) }}

{% endblock %}

{% block beforeContent %}


{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
}) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/layouts/Private-beta/Web-form/Idea-B/J1/web-form" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
        What manual format do you want to use? 
      </h1>
            </legend>
            <div id="waste-hint" class="govuk-hint">
      Select all that apply to your business or organisation
    </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="spreadsheet" name="format" type="checkbox" value="Spreadsheet">
                <label class="govuk-label govuk-checkboxes__label" for="spreadsheet">
          Spreadsheet
        </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="web-form" name="format" type="checkbox" value="Web form">
                <label class="govuk-label govuk-checkboxes__label" for="web-form">
          Web form
        </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
      </form>
    </div>
  </div>

{% endblock %}