{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
        <span class="govuk-caption-xl">Private Beta</span>
          Report receipt of waste
      </h1>

      <p class="govuk-body-l govuk-!-padding-bottom-5">
        <span class="govuk-body-l govuk-!-font-weight-bold">User group:</span>
      Waste receivers
      </p>

      <P class="govuk-body-l govuk-!-margin-top-3 govuk-!-margin-bottom-6">
        October 2025 
      </p>

      <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

        <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Spreadsheet</h2>

        <strong class="first-capital govuk-tag govuk-tag--green govuk-!-margin-top-4">
          Tested
        </strong>

        <a href="https://defra.sharepoint.com/:x:/r/sites/ea-leg-djw/WasteTrack/Shared%20Documents/04%20Service%20Design/Spreadsheet/Prototypes%20tested/Round%20two/DWT%20waste%20movements%20prototype%20v2.xlsx?d=wfdc4b185eed64b3e8972e0560028c47a&csf=1&web=1&e=6tKf86" class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version 2</a>

        <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">What we tested</h3>

        <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-padding-bottom-2">

          <li class="govuk-!-padding-bottom-2">To understand if the spreadsheet solution is useable and useful.
          </li>

          <li class="govuk-!-padding-bottom-2">To understand if the spreadsheet option for non-API users is a viable solution as a concept.
          </li>

          <li class="govuk-!-padding-bottom-2">To understand if a user can successfully engage with the spreadsheet and points of friction, for example do they understand the cognitive model and ask of the spreadsheet.
          </li>

          <li class="govuk-!-padding-bottom-2">To get a better understanding of how applicable the spreadsheet solution is to the wider waste market.
          </li>

        </ol>

      </div>

      <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

        <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Spreadsheet</h2>

        <strong class="first-capital govuk-tag govuk-tag--green govuk-!-margin-top-4">
          Tested
        </strong>

        <a href="https://defra.sharepoint.com/:x:/r/sites/ea-leg-djw/WasteTrack/Shared%20Documents/04%20Service%20Design/Spreadsheet/Prototypes%20tested/Round%20one/DWT%20waste%20movements%20prototype%20v1.xlsm?d=wf650abf913a5492da5e449ced0508bc9&csf=1&web=1&e=WaKliW" class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version 1</a>

        <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-4">What we tested</h3>

        <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-padding-bottom-2">

          <li class="govuk-!-padding-bottom-2">To understand if the spreadsheet solution is useable and useful. 
          </li>

          <li class="govuk-!-padding-bottom-2">To understand if a user can successfully engage with the spreadsheet and points of friction, for example do they understand the cognitive model and ask of the spreadsheet.
          </li>

          <li class="govuk-!-padding-bottom-2">To understand if the spreadsheet solution is useable and useful. 
          </li>

          <li class="govuk-!-padding-bottom-2">To get a better understand of how applicable the spreadsheet solution is to the wider waste market.
          </li>
        </ol>

      </div>

    </div>

  </div>

{% endblock %}