{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
        <span class="govuk-caption-xl">Private Beta</span>
          Report receipt of waste
      </h1>

      <p class="govuk-body-l govuk-!-padding-bottom-5">
        <span class="govuk-body-l govuk-!-font-weight-bold">User group:</span>
      Waste receivers
      </p>

      <P class="govuk-body-l govuk-!-margin-top-3 govuk-!-margin-bottom-6">
        October 2025 &#8211; March 2026
      </p>

            <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

        <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Spreadsheet</h2>

        <strong class="first-capital govuk-tag govuk-tag--green govuk-!-margin-top-4">
          Tested
        </strong>


        <a href="https://defra.sharepoint.com/:x:/r/sites/DEFRA-Bus538/Digital/04%20UCD/Spreadsheet/Prototypes%20tested/Round%20three/DWT%20Waste%20Movement%20Primary%20Key%20POC.xlsx?d=wfe925c3e4af5474381ae3e67ae0f27ca&csf=1&web=1&e=519sHP" class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-6">Version 3A</a>

        <P class="govuk-body govuk-!-margin-bottom-4">
          Two tabs &#40;waste movement and waste items, linked by a unique reference&#41;.
          </p>
          
        <a href="https://defra.sharepoint.com/:x:/r/sites/DEFRA-Bus538/Digital/04%20UCD/Spreadsheet/Prototypes%20tested/Round%20three/DWT%20Waste%20Movement%20Nested%20POC.xlsx?d=w21545a91f6174516af4850de6aae56bc&csf=1&web=1&e=XracxX" class="govuk-heading-m govuk-link--no-visited-state">Version 3B</a>
        
        <P class="govuk-bodygovuk-!-margin-bottom-6">
          Single tab with nested structure for multiple waste items under one waste movement.
          </p>

        <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">What we tested</h3>
        
        <P class="govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-6">
          This study focused on using the spreadsheet as a tool, to identify and understand: 
          </p>

        <ol class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-padding-bottom-2">

          <li class="govuk-!-padding-bottom-2">If participants can use the spreadsheets to enter waste movement and waste item data.
          </li>

          <li class="govuk-!-padding-bottom-2">Areas of the greatest burden to users.
          </li>

          <li class="govuk-!-padding-bottom-2">Areas of greatest data accuracy risks.
          </li>

        </ol>

      </div>


      <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

        <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Spreadsheet</h2>

        <strong class="first-capital govuk-tag govuk-tag--green govuk-!-margin-top-4">
          Tested
        </strong>

        <a href="https://defra.sharepoint.com/:x:/r/sites/DEFRA-Bus538/Digital/04%20UCD/Spreadsheet/Prototypes%20tested/Round%20two/DWT%20waste%20movements%20prototype%20v2.xlsx?d=w0cd04ea302b1459493f4233dc4a4f70e&csf=1&web=1&e=1b4PTf" class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3">Version 2</a>

        <a href="https://defra.sharepoint.com/:x:/r/sites/DEFRA-Bus538/Digital/04%20UCD/Spreadsheet/Prototypes%20tested/Round%20two/DWT%20waste%20movements%20prototype%20errors%20v2.xlsx?d=w89ea858d66004b838547b503c4299130&csf=1&web=1&e=MMqaeN" class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-bottom-2">Errors</a>


        <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">What we tested</h3>

        <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-padding-bottom-2">

          <li class="govuk-!-padding-bottom-2">To understand if the spreadsheet solution is useable and useful.
          </li>

          <li class="govuk-!-padding-bottom-2">To understand if the spreadsheet option for non-API users is a viable solution as a concept.
          </li>

          <li class="govuk-!-padding-bottom-2">To understand if a user can successfully engage with the spreadsheet and points of friction, for example do they understand the cognitive model and ask of the spreadsheet.
          </li>

          <li class="govuk-!-padding-bottom-2">To get a better understanding of how applicable the spreadsheet solution is to the wider waste market.
          </li>

        </ol>

      </div>

      <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

        <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Spreadsheet</h2>

        <strong class="first-capital govuk-tag govuk-tag--green govuk-!-margin-top-4">
          Tested
        </strong>

        <a href="https://defra.sharepoint.com/:x:/r/sites/DEFRA-Bus538/Digital/04%20UCD/Spreadsheet/Prototypes%20tested/Round%20one/DWT%20waste%20movements%20prototype%20v1.xlsm?d=w469fc6772f5c41c2b0304d8af1811405&csf=1&web=1&e=joZDvY" class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version 1</a>

        <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-4">What we tested</h3>

        <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-padding-bottom-2">

          <li class="govuk-!-padding-bottom-2">To understand if the spreadsheet solution is useable and useful. 
          </li>

          <li class="govuk-!-padding-bottom-2">To understand if a user can successfully engage with the spreadsheet and points of friction, for example do they understand the cognitive model and ask of the spreadsheet.
          </li>

          <li class="govuk-!-padding-bottom-2">To understand if the spreadsheet solution is useable and useful. 
          </li>

          <li class="govuk-!-padding-bottom-2">To get a better understand of how applicable the spreadsheet solution is to the wider waste market.
          </li>
        </ol>

      </div>

    </div>

  </div>

{% endblock %}