{% extends "/layouts/main.html" %}

{% block header %}
  {% from "govuk/components/header/macro.njk" import govukHeader %}

  {{ govukHeader({
  homepageUrl: "#"
}) }}

  {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

  {{ govukServiceNavigation({
    classes: "govuk-!-margin-bottom-2",
    serviceName: "Report a commercial waste movement",
    navigation: [
    {
      href: "/layouts/Collections/Alpha/Waste-movement-records/S1/WR1/wr1-account",
      text: "Waste tracking account",
      active: true
    },
    {
      href: "/layouts/Collections/Alpha/Waste-movement-records/S1/WR1/manage-account-2",
      text: "Manage account"
    },
    {
      href: "#",
      text: "Sign out"
    }
  ]
  }) }}

{% endblock %}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="/layouts/Private-beta/Waste-movements/designs">give your feedback (opens in new tab)</a>.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-form-group">

      <div class="govuk-grid-column-three-quarters">

        <span class="govuk-caption-l">
          <span class="govuk-visually-hidden">This section is: </span>Joe B Recycling Ltd
        </span>

        <h1 class="govuk-heading-l govuk-!-padding-bottom-4">Collection of waste &#40;API&#41;</h1>

        {# <h2 class="govuk-heading-m govuk-!-padding-bottom-4">Waste movement details</h2> #}

        <form method="post" action="/layouts/Collections/Alpha/Waste-movement-records/S1/WR1/collections-waste-movement-records">

          {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

          {{ govukSummaryList({
  card: {
    title: {
      text: "Waste movement details"
    }
  },
  rows: [
    {
      key: {
        text: "Date received"
      },
      value: {
        html: " [Day}, [Month] and [Year]"
      }
    },
    {
      key: {
        text: "Time received"
      },
      value: {
        html: "10:47"
      }
    },
    {
      key: {
        text: "Special handling requirements"
      },
      value: {
        html: "The waste must be fully inspected by the waste handler according to the Hazardous waste consignment and or EWC codes provided."
      }
    }
  ]
}) }}

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break">

          {{ govukSummaryList({
  card: {
    title: {
      text: "Waste item details"
    }
  },
  rows: [
  {
      key: {
        text: "Your unique reference"
      },
      value: {
        html: "2000181"
      }
    },{
      key: {
        text: "EWC codes"
      },
      value: {
        html: "10306, 010306"
      }
    },
    {
      key: {
        text: "Waste description"
      },
      value: {
        html: "Basic mixed construction and demolition waste, this includes recyclable house bricks, gypsum plaster and slates."
      }
    },
    {
      key: {
        text: "Physical form"
      },
      value: {
        html: "Solid"
      }
    }, 
    {
      key: {
        text: "Number of containers used"
      },
      value: {
        html: "1"
      }
    },
    {
      key: {
        text: "Type of containers"
      },
      value: {
        html: "Skip"
      }
    },
    {
      key: {
        text: "Weight unit of measurement"
      },
      value: {
        html: "150kg"
      }
    },
    {
      key: {
        text: "Total weight of waste"
      },
      value: {
        html: "150kg"
      }
      },
    {
      key: {
        text: "Is the weight estimated"
      },
      value: {
        html: "Yes"
      }
    },
    {
      key: {
        text: "Does the waste contain persistent organic pollutants (POPs)?"
      },
      value: {
        html: "Yes"
      }
    },
    {
      key: {
        text: "POP name & concentration value"
      },
      value: {
        html: "Dicofol 23, Beta hexachlorocyclohexane 34"
      }
    },
    {
      key: {
        text: "How did you determine the POPs components?"
      },
      value: {
        html: "Tested"
      }
    },
    {
      key: {
        text: "Is the waste hazardous?"
      },
      value: {
        html: "Yes"
      }
    },
    {
      key: {
        text: "Hazardous property codes (Haz code)"
      },
      value: {
        html: "Hp_5, Hp_10"
      }
    },
    {
      key: {
        text: "Component name & concentration value"
      },
      value: {
        html: "Lead 50, Mercury 12.5"
      }
    },
    {
      key: {
        text: "How did you determine the Hazardous components?"
      },
      value: {
        html: "Tested"
      }
    },
    {
      key: {
        text: "Disposal or Recovery codes"
      },
      value: {
        html: "R1, D1"
      }
    }
  ]
}) }}

        </form>

        <button type="submit" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
  Search for another waste movement record
</button>

      </div>

    {% endblock %}