{% extends "layouts/main.html" %}

{% block pageTitle %}
    Reporting receipt of waste &#8211; Guidance
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Environmemnt</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Waste management</a>
      </li>
      {# <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">TBC</a>
      </li> #}
    </ol>
  </nav>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-l">
        Report receipt of waste 
      </h1>

      <p class="govuk-body-l govuk-!-margin-bottom-6">
        From October 2026, all licensed or permitted waste receivers must use the new digital waste tracking service to report their receipt of waste.  
      </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body-s">
        From: <a href="#">Department for Environment, Food and Rural Affairs</a>
      </a>
      <br>Published 19 June 2024<br/>
        Last updated 10 October 2024 - <a href="#">See all updates</a>
    </p>

    <!-- Grey box -->

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

    {{ govukButton({
        text: "Get emails about this page",
        href: "#",
        classes: "govuk-button--secondary"
      }) }}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break">


    <!-- Contents -->

    <div id="contents" data-module="contents-list-with-body" class="gem-c-contents-list-with-body" data-contents-list-with-body-module-started="true">
      <div class="gem-c-contents-list-with-body__list-container">
        <nav data-module="ga4-link-tracker" aria-label="Contents" class="gem-c-contents-list govuk-!-margin-bottom-4" data-ga4-link-tracker-module-started="true">

          <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
            <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
              <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
              <ol class="govuk-prototype-kit-common-templates-contents-list__list">
                <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
                  <a href="#Who-can-use-the-service">
                Who can use the service
              </a>
                </li>
                <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
                  <a href="#How-to-register">
                How to register 
              </a>
                </li>
                <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
                  <a href="#How-to-send-your-data">
                How to send your data 
              </a>
                </li>
                <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
                  <a href="#Timeline-for-reporting">
                Timeline for reporting  
              </a>
                </li>
                <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
                  <a href="#What-data-to-submit">
                What data to submit  
              </a>
                </li>
                <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
                  <a href="#Add-other-waste-receivers-to-your-account">
                Add other waste receivers to your account 
              </a>
                </li>

                <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
                  <a href="#Pay-the-annual-service-charge">
                Pay the annual service charge 
              </a>
                <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
                  <a href="#Report-a-receipt-of-waste">
                Report a receipt of waste
              </a>
                </li>
              </li>
              <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
                <a href="#Get-help">
                Get help 
              </a>
              </li>

            </ol>
          </nav>
        </aside>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

        {{ govukButton({
        text: "Print this page",
        href: "#",
        classes: "govuk-button--secondary"
      }) }}

        <p class="govuk-body">
        From October 2026, all waste receivers must use the new digital waste tracking service to report their receipt of waste. 
      </p>

        <p class="govuk-body">To make sure you are ready, you must:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>register for a Defra account</li>
          <li>pay the annual service charge</li>
          <li>decide how you want to report your receipt of waste</li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break">

        <!-- TBC -->

        <h2 id="Who-can-use-the-service" class="govuk-heading-m">
        Who can use the service
      </h2>
        <p class="govuk-body">You can use this service if you are:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a waste receiver with one or more licensed or permitted sites</li>
          <li>a consultant or representative of a waste receiver</li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break">

        <h2 id="How-to-register" class="govuk-heading-m">
        How to register
      </h2>
        <p class="govuk-body">You can use this service if you are:</p>
        <ul class="govuk-list govuk-list--number">
          <li>Sign in or create a Government Gateway or OneLogin account for your business or organisation.</li>
          <li>Use your business or organisation's Government Gateway or OneLogin ID to register for a Defra account.</li>
          <li>Enter the address, contact details and company registration number &#40;if it is a limited company&#41; of your business or organisation.</li>
        </ul>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
              Do not use a personal Government Gateway account for this service. 
          </strong>
        </div>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break">

        <h2 id="How-to-send-your-data" class="govuk-heading-m">
        How to send your data
      </h2>
        <p class="govuk-body">There are two ways you can report your receipt of waste:</p>
        <ul class="govuk-list govuk-list--number">
          <li>Connecting your waste software up to our application programming interface &#40;API&#41;. </li>
          <li>Downloading and completing a spreadsheet.</li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break">

        <h3 id="get-started" class="govuk-heading-s">
        API
      </h3>

        <p class="govuk-body">An API allows different software systems to connect to each other so they can exchange data.</p>

        <h3 id="get-started" class="govuk-heading-s">
        Connect your waste software to the API 
      </h3>

        <p class="govuk-body">You must have waste specific software that your software provider will need to connect to Defra's Receipt of Waste API.</p>

        <p class="govuk-body">There is more information for software providers in the <a href="#">API authentication guide</a>.</p>

        <h3 id="get-started" class="govuk-heading-s">
        Get an API code
      </h3>

        <p class="govuk-body">You will receive a unique API code for every waste receiver on your account.</p>

        <p class="govuk-body">Give this code to your software provider who will apply it to your waste movements.</p>

        <h3 id="get-started" class="govuk-heading-s">
        Spreadsheet 
      </h3>

        <p class="govuk-body">If you do not have the software needed to use the API, you can upload your data using Defra's Receipt of Waste spreadsheet.</p>

        <p class="govuk-body">For every receipt of waste, you will need to:</p>

        <ul class="govuk-list govuk-list--number">
          <li>Download the spreadsheet template</li>
          <li>Complete the mandatory data fields</li>
          <li>Upload the completed spreadsheet</li>
        </ul>

        <p class="govuk-body">
          <a href="/layouts/Private-beta/MVP-Registration/V1/Scenario-3/WR2/next-activity-org-2" class="govuk-link govuk-link--no-visited-state">Download spreadsheet</a>
        </p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break">

        <h2 id="Timeline-for-reporting" class="govuk-heading-m">
       Timeline for reporting
      </h2>

        <p class="govuk-body">You must report every receipt of waste. You have two working days from the day after receiving the waste to submit your report.</p>

        <p class="govuk-body">For example, if you receive the waste at 9.00am on Monday you must submit your receipt by the end of Wednesday.</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break">

        <h2 id="What-data-to-submit" class="govuk-heading-m">
        What data to submit
      </h2>

        <p class="govuk-body">When you report your receipt of waste, you must provide the following information:</p>

        <h3 id="get-started" class="govuk-heading-s">
        Your waste receiver's details 
      </h3>

        <p class="govuk-body">If you do not have the software needed to use the API, you can upload your data using Defra's Receipt of Waste spreadsheet.</p>

        <ul class="govuk-list govuk-list--number">
          <li>API code &#40;if you are submitting your data automatically&#41;</li>
          <li>Permit or exemption number</li>
          <li>ddress and postcode of where the waste was received</li>
        </ul>

        <h3 id="get-started" class="govuk-heading-s">
        Carrier details
      </h3>

        <ul class="govuk-list govuk-list--number">
          <li>Business name</li>
          <li>Registration number</li>
          <li>How the waste was transported &#40;for example by road or train&#41;</li>
        </ul>

        <h3 id="get-started" class="govuk-heading-s">
        Waste details
      </h3>

        <ul class="govuk-list govuk-list--number">
          <li>Date and time you received the waste</li>
          <li>Description of the waste</li>
          <li>European Waste Catalogue &#40;EWC&#41; code</li>
          <li>Physical form of the waste &#40;for example gas or liquid&#41; </li>
          <li>Number and type of container &#40;if any&#41;</li>
          <li>Total weight</li>
          <li>Whether the waste contains persistent organic pollutants &#40;POPs&#41; </li>
          <li>Whether the waste contains any hazardous material</li>
          <li>Discovery or recovery code</li>
        </ul>

        <p class="govuk-body govuk-!-margin-bottom-2">
          <a href="#">Full list of the waste data requirements</a>
        </p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break">

        <h2 id="Adding-other-waste-receivers-to-your-account" class="govuk-heading-m">
        Add other waste receivers to your account
      </h2>
        <p class="govuk-body">If you operate multiple businesses or organisations that receive waste &#40;for example a subsidiary business or partnership&#41;, you can add them all to the same account.</p>

        <p class="govuk-body">You will need to pay an annual service charge for each waste receiver you add.</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break">

        <h2 id="Pay-the-annual-service-charge" class="govuk-heading-m">
       Pay the annual service charge
      </h2>

        <p class="govuk-body">The charge is not due until October 2026 but will cost £26 per year for each waste receiver on your account.</p>

        <p class="govuk-body">The fee applies to the number of waste receivers on your account. It does not apply to the number of sites that waste receiver has.</p>

        <p class="govuk-body">You will need a debit or credit card to make your payment online.</p>

        {# <p class="govuk-body">
          <strong>If your business or organisation has multiple sites you only need to pay one service charge.</strong>
        </p>

        <p class="govuk-body">The annual service charge will not apply until October 2026. You can check your next payment due date on your waste receiver account page.</p> #}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break">

        <h2 id="Report-a-receipt-of-waste" class="govuk-heading-m">
        Report a receipt of waste
      </h2>

        <p class="govuk-body">
        Use this service to report each receipt of waste. 
      </p>

        <a href="/layouts/Private-beta/MVP-Registration/V1/S2/WR1/permit-uk" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
          </svg>
        </a>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

        <h2 id="Get-help" class="govuk-heading-m">
        Get help
      </h2>

        <p class="govuk-body">Contact the support team if you have any questions about the service or if you are having problems using it.</p>

        <p class="govuk-body govuk-!-margin-bottom-2">Email: <a href="mailto:WasteTracking_Testing@defra.gov.uk">WasteTracking_Testing@defra.gov.uk</a>
        </p>

        <p class="govuk-body">Telephone: 0800 876 6458</p>

        <p class="govuk-body">If you have a question about waste regulation, contact your relevant regulator:</p>

        <ul class="govuk-list govuk-list--bullet">

          <li class="govuk-!-padding-bottom-2">
            <p class="govuk-body govuk-!-margin-bottom-0">England</p>
            <a href="/layouts/Private-beta/Onboarding/V2/no-design-yet" class="govuk-link">EA &#38; Environment Agency &#38; business waste and environmental impact</a>
          </li>
          <li class="govuk-!-padding-bottom-2">
            <p class="govuk-body govuk-!-margin-bottom-0">Scotland</p>
            <a href="/layouts/Private-beta/Onboarding/V2/no-design-yet" class="govuk-link">SEPA &#38; Scottish Environment Protection Agency &#38; waste information</a>
          </li>
          <li class="govuk-!-padding-bottom-2">
            <p class="govuk-body govuk-!-margin-bottom-0">Wales</p>
            <a href="/layouts/Private-beta/Onboarding/V2/no-design-yet" class="govuk-link">Business Cymru Waste Legislation</a>
          </li>
          <li class="govuk-!-padding-bottom-2">
            <p class="govuk-body govuk-!-margin-bottom-0">Northern Ireland</p>
            <a href="/layouts/Private-beta/Onboarding/V2/no-design-yet" class="govuk-link">DAERA &#38; Department of Agriculture, Environment and Rural Affairs &#38; waste policy tracker</a>
          </li>

        </ul>

      </div>

      <div class="govuk-!-margin-top-8 gem-c-contents-list-with-body__link-container">

        <a class="govuk-link gem-c-back-to-top-link govuk-!-display-none-print" href="#contents">
          <svg class="gem-c-back-to-top-link__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg>
              Contents
            </a>
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    </div>

  {% endblock %}