{% extends "layouts/main.html" %}

{% set serviceName %}
  Defra account
{% endset%}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        <span class="govuk-visually-hidden">This section is: </span>Register Defra account
      </span>
      <h1 class="govuk-heading-l">Create a memorable word</h1>

      <form method="post" action="/layouts/Private-beta/MVP-Registration/V1/S1/WR1/check-answers">

        <p>For security purposes, you are required to create a memorable word. This helps us verify your identity if you need to contact us.</p>
        <div class="govuk-inset-text">
          <p>This word must:</p>
          <ul class="govuk-list govuk-list--bullet">

            <li>be between 8 and 32 characters long and is not case-sensitive</li>
            <li>only contain a combination of letters &#40;A-Z a-z&#41; and numbers &#40;0-9&#41;</li>

          </ul>

          <p>This word must not contain:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>spaces</li>
            <li>special characters &#40; 'at' symbol &#40;@&#41;, hyphen &#40;-&#41; &#41; </li>
            <li>more than 2 repeating characters such as 111 or AAA</li>
          </ul>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-visually-hidden" for="registrationMemorableWord">
            Memorable word
          </label>

          <input class="govuk-input govuk-!-width-two-thirds" id="registrationMemorableWord" name="registrationMemorableWord" type="text">

        </div>

        <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="100">
          <label class="govuk-label" for="registrationMemorableHint">
            Hint question
          </label>

          <div id="registrationMemorableHint-hint" class="govuk-hint">
            Tell us a hint question that does not contain your memorable word, but will help you remember what it is.
        </div>

          <textarea class="govuk-textarea govuk-js-character-count govuk-!-width-two-thirds" id="registrationMemorableHint" name="registrationMemorableHint" rows="5" aria-describedby="registrationMemorableHint-info registrationMemorableHint-hint"></textarea>
          <div id="registrationMemorableHint-info" class="govuk-hint govuk-character-count__message govuk-visually-hidden">
            You can enter up to 100 characters
          </div>
          <div class="govuk-hint govuk-character-count__message govuk-character-count__status" aria-hidden="true">You have 100 characters remaining</div>
          <div class="govuk-character-count__sr-status govuk-visually-hidden" aria-live="polite">You have 100 characters remaining</div>

        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}