{% extends "layouts/main.html" %}

{% set serviceName %}
  Defra account
{% endset%}

{% block beforeContent %}

  {# {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
        text: "Prototype"
        },
        html: 'This is a prototype. It is not a real service.'
        }) }} #}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/layouts/Private-beta/MVP-Registration/V1/S1/WR1/defra-id-terms" method="post">

        <h1 class="govuk-heading-l">You need to register for a Defra account</h1>

        <p class="govuk-body">To access Defra services you need to have a Defra account.</p>
        <p class="govuk-body">Once you have registered you can access and manage Defra services:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>for yourself as a business or individual</li>
          <li>on behalf of businesses that you represent</li>
        </ul>
        <div class="govuk-inset-text">
          <p class="govuk-body">You'll use your Government Gateway details to sign in to Defra services each time you visit.</p>
        </div>

        <p class="govuk-body">To find out how we use, process and store your personal information, read our <a href="/layouts/Private-beta/Onboarding/V3/no-design-yet">Privacy notice &#40;opens in new tab&#41;</a>.</p>

        <form method="post" action="/register/terms-and-conditions">
          <input type="hidden" id="registrationStatus" name="registrationStatus" value="Started">

          <input type="hidden" id="GovGateId" name="GovGateId" value="71 13 56 15 22 14">

          <button type="submit" class="govuk-button govuk-!-margin-top-5" data-module="govuk-button">
            Continue
          </button>

        </form>

      </div>
    </div>

  {% endblock %}