{% extends "/layouts/main.html" %}

{% block header %}
  {% from "govuk/components/header/macro.njk" import govukHeader %}

  {{ govukHeader({
  homepageUrl: "#"
}) }}

  {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

  {{ govukServiceNavigation({
    classes: "govuk-!-margin-bottom-2",
    serviceName: "Digital waste tracking",
    navigation: [
    {
      href: "/layouts/Collections/Alpha/Registration/V1/S3/WR1/wr1-account",
      text: "Waste tracking account",
      active: true
    },
    {
      href: "/layouts/Collections/Alpha/Registration/V1/S3/WR1/manage-account-2",
      text: "Manage account"
    },
    {
      href: "#",
      text: "Sign out"
    }
  ]
  }) }}

{% endblock %}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="/layouts/Private-beta/Waste-movements/designs">give your feedback (opens in new tab)</a>.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-form-group">

      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">
          <span class="govuk-visually-hidden">This section is: </span>Joe B Recycling Ltd
        </span>

        <form method="post" action="/layouts/Collections/Alpha/Registration/V1/S1/WR1/account-type-answer">

          {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
          name: "Business or organisation",
          value: data['Business or organisation'],
          fieldset: {
          legend: {
          text: "Waste records",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
          }
          },
          hint: {
            text: "Select which waste activity you want to view"
            },
            items: [
            {
            value: "Collections",
            text: "Collections of waste API"
            },
            {
              value: "Receipt API",
              text: "Receipt of waste API"
              },
              {
              value: "Spreadsheet",
              text: "Receipt of waste spreadsheet"
              }
              ]
              }) }}

          {{ govukButton({
            classes: "govuk-!-margin-top-6",
                  text: "Continue"
                  }) }}

        </form>

      </div>

    {% endblock %}