{% extends "layouts/main.html" %}

{% set serviceName %}
  Report receipt of waste
{% endset%}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="event-name">
      Change the reference for the API code
    </label>
        </h1>
        <input class="govuk-input govuk-!-width-three-quarters" id="event-name" name="eventName" type="text" value="Joe Waste &#38; Co Ltd_Code 1">
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

    </form>

  </div>
</div>

{% endblock %}