{% extends "layouts/main.html" %}

{% set serviceName %}
  Report receipt of waste
{% endset%}

{# {% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %} #}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
            Payment confirmation
          </h1>
        <div class="govuk-panel__body">
            Your payment reference<br>
          <strong>HDJ2123F</strong>
        </div>
      </div>
      <p class="govuk-body">We have sent you a confirmation email.</p>

      <h2 class="govuk-heading-m govuk-!-padding-top-4">Payment summary</h2>

      <table class="govuk-table"></thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Payment for</th>
          <td class="govuk-table__cell">Report receipt of waste annual service charge</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Legal entity 1</th>
          <td class="govuk-table__cell">Joe Waste &#38; Co Ltd</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Legal entity 2</th>
          <td class="govuk-table__cell">A &#38; B Receivers</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Total amount</th>
          <td class="govuk-table__cell">£40.00</td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m govuk-!-padding-top-4">What happens next</h2>

    <p class="govuk-body">We have created an API code for each business or organisation on your account. You can view them on your Defra account page.</p>

    <p class="govuk-body">Give your API codes to your software provider who will explain how to use them to access your waste movements.</p>

  </div>
</div>

{% endblock %}