{% extends "layouts/main.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Report receipt of waste
      </h1>

      <p class="govuk-body">
        If you operate a licensed site that receives waste, you can use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">

        <li>register for a Defra account</li>
        <li>dd businesses or organisations to your account</li>
        <li>pay the annual service charge</li>
        <li>get an API code to send us your waste movements</li>

      </ul>

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p class="govuk-body">
        You must check if your business or organisation's software can use our APIs. Contact your software provider if you are unsure. 
      </p>

      <p class="govuk-body">
        You will also need to: 
      </p>

      <ul class="govuk-list govuk-list--number">

        <li>Sign in or create a Government Gateway or OneLogin account for your business or organisation.</li>

        <li>Use your business or organisation's Government Gateway or OneLogin ID to register for a Defra account.</li>

        <li>Provide the address, contact details and company registration number &#40;if it is a limited company&#41; of your business or organisation.</li>
      </ul>
      <div class="govuk-warning-text govuk-!-margin-top-6">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
    Do not use a personal Government Gateway account for this service.
  </strong>
      </div>
      <div>
        <h2 class="govuk-heading-m govuk-!-margin-top-6">
        Cost 
        </h2>

        <p class="govuk-body">
          It costs £20 a year per business or organisation on your account. You will need a debit or credit card to make your payment online. 
        </p>

          <a href="/layouts/Private-beta/Onboarding/V3/defra-id/sign-in" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-5" data-module="govuk-button">
          Start now<svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
            </svg>
          </a>

          <h2 class="govuk-heading-m govuk-!-margin-top-6">
        Get help
        </h2>

          <p class="govuk-body">
        Contact the support team if you are having problems using the service.
        </p>

          <p class="govuk-body">
        Email: <a href="#" class="govuk-link">WasteTracking_Testing@defra.gov.uk</a>
          </p>

          <p class="govuk-body">
        Telephone: 0800 876 6458
        </p>

        </div>
      </div>

      {# <div class="govuk-grid-column-one-third">

        <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="#">
                Related link
              </a>
              </li>
              <li>
                <a href="#">
                Related link
              </a>
              </li>
              <li>
                <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
                </a>
              </li>
            </ul>
          </nav>
        </aside>

      </div> #}
    </div>

  {% endblock %}