{% extends "layouts/main.html" %}

{% set serviceName %}
  Report receipt of waste
{% endset%}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
}) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back to my account</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-form-group">

      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Your Application Programming Interface &#40;API&#41; codes</h1>

        <p class="govuk-body">We have created an API code for this legal entity.</p>

        <p class="govuk-body">
      You will need to give the API code to your software provider.
    </p>

        <p class="govuk-body">
      Your software provider will advise you on how to apply the API code to your waste movements.
    </p>

      </div>

      <div class="govuk-grid-column-three-quarters">

        <div class="govuk-summary-card govuk-!-margin-top-4 govuk-!-padding-bottom-4">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Joe Waste &#38; Co Ltd
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  API code 1
                </dt>
                <dd class="govuk-summary-list__value">
                  af552bd3-f929-4924-a86d-d8e4f0cb8d61
                </dd>
                <dd class="govuk-summary-list__actions">
                  <button type="submit" class="govuk-!-margin-bottom-0 govuk-button govuk-button--secondary"  id="AddlegalEntity" name="buttonChoice"  value="Add anaother legal entity" data-module="govuk-button">
                    Copy code
                  </button>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Reference
                </dt>
                <dd class="govuk-summary-list__value">
                  Joe Waste &#38; Co Ltd_Code 1
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/layouts/Private-beta/Onboarding/V3/J2/change-ref-1">Change<span class="govuk-visually-hidden"> the reference for the API code</span></a>
                </dd>
              </div>

              <div class="govuk-summary-list__row govuk-!-padding-top-6">
                <dt class="govuk-summary-list__key govuk-!-padding-top-6">
                  API code 2
                </dt>
                <dd class="govuk-summary-list__value">
                  af552bd3-f929-4924-a86d-d8e4f0cb8d61
                </dd>
                <dd class="govuk-summary-list__actions">
                  <button type="submit" class="govuk-!-margin-bottom-0 govuk-button govuk-button--secondary"  id="AddlegalEntity" name="buttonChoice"  value="Add anaother legal entity" data-module="govuk-button">
                    Copy code
                  </button>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Reference
                </dt>
                <dd class="govuk-summary-list__value">
                  Joe Waste &#38; Co Ltd_Code 2
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/layouts/Private-beta/Onboarding/V3/J2/change-ref-1">Change<span class="govuk-visually-hidden"> the reference for the API code</span></a>
                </dd>
              </div>

            </dl>
          </div>
        </div>



        <h3 class="govuk-!-padding-top-8 govuk-!-margin-top-6 govuk-heading-m">Do you need to create an additional API code?</h3>

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class=" govuk-fieldset__heading"></h2>
        </legend>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                    Why might I need to do this?
                  </span>
          </summary>

          <div class="govuk-details__text">

            <p class="govuk-body">
                  If you work with multiple software providers, you should give each one an API code.
                </p>


          </div>
        </details>

        <button type="submit" class=" govuk-button govuk-button--secondary" data-module="govuk-button">
              Create an additional API code
            </button>

      </div>
    </form>

  </div>

{% endblock %}