{% extends "layouts/main.html" %}

{% set serviceName %}
  Report receipt of waste
{% endset%}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
}) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Is [Business or Organisation Name] a waste receiver?
              </h1>
          </legend>

          <div class="govuk-radios govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="waste-receiver-1" name="waste-receiver" type="radio" value="Yes" aria-describedby="signIn-item-hint">
              <label class="govuk-label govuk-radios__label" for="waste-receiver-1">
                  Yes
                </label>

            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="waste-receiver-2" name="waste-receiver" type="radio" value="No" aria-describedby="signIn-2-item-hint">
              <label class="govuk-label govuk-radios__label" for="waste-receiver-2">
                  No
                </label>

            </div>

          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>

    </div>
  </div>

{% endblock %}