{% extends "/layouts/main.html" %}

{% block header %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

{{ govukHeader({
  homepageUrl: "#"
}) }}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukServiceNavigation({
    classes: "govuk-!-margin-bottom-2",
  serviceName: "Report receipt of waste",
  serviceUrl: "#",
  navigation: [
    {
      href: "#",
      text: "Waste receivers account"
    }
  ]
}) }}

{% endblock %}

{% block beforeContent %}


{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="/layouts/Private-beta/Web-form/Idea-A/J1/waste-sites-paid">give your feedback (opens in new tab)</a>.'
}) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body-l govuk-!-margin-bottom-0"><strong>Web form:</strong></p>

      <span class="govuk-caption-l">Joe Waste &#38; Co Ltd</span>
      <h1 class="govuk-heading-l govuk-!-margin-top-4">Hazardous waste</h1>

      <div class="govuk-form-group govuk-!-padding-top-5">
        <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
        Does the waste contain hazardous material?
      </h2>
          </legend>

          <div id="more-detail-hint" class="govuk-hint">
Hazardous waste is any waste that is potentially harmful to human health or the environment.</div>

          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
            </div>
          </div>
        </fieldset>
      </div>

      <form method="post" action="/layouts/Private-beta/Web-form/Idea-A/J1/waste-activities-5-complete">


    <button type="submit" class="govuk-button govuk-!-margin-top-5" data-module="govuk-button">
            Save and continue
          </button>
          
      </form>

    </div>
  </div>

{% endblock %}