{% extends "layouts/main.html" %}

{% set pageName = "Download Receipt of waste spreadsheet" %}

{% block header %}
  {% from "govuk/components/header/macro.njk" import govukHeader %}

  {{ govukHeader({
    homepageUrl: "/layouts/Private-beta/Spreadsheet/designs"
  }) }}

  {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukServiceNavigation({
    classes: "govuk-!-margin-bottom-2",
    serviceName: serviceName,
    serviceUrl: "wr1-account-home-new.html",
    navigation: [
      {
        href: "wr1-account-home-new.html",
        text: "Waste account",
        active: true
      },
      {
        href: "#",
        text: "Manage Defra account"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}

{% endblock %}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="/layouts/Private-beta/Waste-movements/designs">give your feedback (opens in new tab)</a>.'
}) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-form-group">

      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">{{ data['companyName'] or "Joe B Waste Services Ltd" }}</span>
        <h1 class="govuk-heading-l">Download Receipt of waste spreadsheet</h1>

        <p class="govuk-body">If you do not have the software needed to use the API, you can send your data using Defra’s receipt of waste template spreadsheet.</p>

        <p class="govuk-body">You will need to:</p>

        <ol class="govuk-list govuk-list--number">
          <li>Download the <a href="https://report-receipt-of-waste.service.gov.uk/public/receipt-of-waste-template.xlsx" class="govuk-link">spreadsheet template (XLSX, 441KB)</a>.</li>
          <li>Complete the mandatory data fields.</li>
          <li>Upload the completed spreadsheet.</li>
        </ol>

        <p class="govuk-body">Read our <a href="spreadsheet-guidance" class="govuk-link">spreadsheet guidance</a> for further help.</p>

        {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

        {% call govukInsetText() %}
          You cannot use your own spreadsheet or make format changes to Defra’s version.
        {% endcall %}

        <p class="govuk-body">You can add multiple movements to the same spreadsheet before you submit it. After you submit it, you will need to use a new spreadsheet for your next submission.</p>
        <p class="govuk-body">If your organisation operates more than one site, you can also add those movements to the same spreadsheet.</p>
        <p class="govuk-body">If you operate multiple organisations, you will need to download a separate spreadsheet for each one.</p>

        <h2 class="govuk-heading-m">View example spreadsheet</h2>

        <p class="govuk-body">You can use our example spreadsheet to help you submit your own data. It shows what information you will need and how each section should be completed.</p>
        <p class="govuk-body"><a href="/public/files/EXAMPLE-Receipt-of-waste-spreadsheet-template-V1.1.xlsx" class="govuk-link">Download example spreadsheet (XLSX, 264KB)</a>.</p>

        {% call govukInsetText() %}
          Do not use the example spreadsheet to send your own waste movements.
        {% endcall %}

        <h2 class="govuk-heading-m">Spreadsheet change log</h2>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              View spreadsheet change log
            </span>
          </summary>
          <div class="govuk-details__text">
            <h3 class="govuk-heading-s">Version 1.2, August 2026</h3>
            <ul class="govuk-list">
              <li>improved accessibility, including table structure, descriptive headers and colour contrast</li>
              <li>moved guidance to dedicated support page</li>
              <li>removed content that was unnecessary for expert users, including EPC codes</li>
            </ul>
            <h3 class="govuk-heading-s">Version 1.1, July 2026</h3>
            <ul class="govuk-list">
              <li>small typographic corrections and content improvements</li>
            </ul>
            <h3 class="govuk-heading-s">Version 1.0, June 2026</h3>
            <ul class="govuk-list">
              <li>initial version</li>
            </ul>

          </div>
        </details>
 
        <p class="govuk-body govuk-!-padding-top-4">
          <a href="javascript:history.back()" class="govuk-link govuk-link--no-visited-state">Return to {{ data['companyName'] or "Joe B Waste Services Ltd" }} waste receiving account</a>
        </p>

      </div>
    </div>

  {% endblock %}