{% extends "layouts/main.html" %}

{% set serviceName %}
  Defra account
{% endset%}

{% block beforeContent %}

    <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">Manage intermediary access</h1>

            <form method="post" action="/layouts/Private-beta/MVP-Registration/V2/S1/WR1/add-inter-member">

                <button type="submit" class="govuk-button" id="deletebutton" data-module="govuk-button" value="Delete">
                    Add an intermediary
                    </button>

            </form>

            <p class="govuk-body ">An intermediary is a third party &#40;such as an agent or consultant&#41; who you authorise to interact with Defra and related agencies and public bodies on your behalf.</p>

        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-visually-hidden">All Intermediaries</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header govuk-table__header--column-quarter" scope="col">Intermediary</th>
                        <th class="govuk-table__header govuk-table__header--column-third" scope="col">Email address</th>
                        <th class="govuk-table__header" scope="col">Account role</th>
                        <th class="govuk-table__header" scope="col">Account status</th>
                    </tr>
                </thead>

                <tbody>


                    <tr class="govuk-table__row no-border">
                        <td class="govuk-table__cell">
                            TBC
                        </td>
                        <td class="govuk-table__cell">Email</td>
                        <td class="govuk-table__cell">Admin</td>
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag govuk-tag">Live</strong>
                        </td>
                    </tr>

                </tbody>


            </table>

        </div>
    </div>

{% endblock %}