{% extends "/layouts/main.html" %}

{% block header %}
  {% from "govuk/components/header/macro.njk" import govukHeader %}

  {{ govukHeader({
  homepageUrl: "#"
}) }}

  {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

  {{ govukServiceNavigation({
    classes: "govuk-!-margin-bottom-2",
    serviceName: "Report a commercial waste movement",
    navigation: [
    {
      href: "#",
      text: "Waste tracking account",
      active: true
    },
    {
      href: "/layouts/Collections/Alpha/Registration/V1/S2/WR1/manage-account",
      text: "Manage account"
    },
    {
      href: "#",
      text: "Sign out"
    }
  ]
  }) }}

  {% endblock %}

  {% block beforeContent %}

    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

    {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="/layouts/Private-beta/Waste-movements/designs">give your feedback (opens in new tab)</a>.'
  }) }}

    <a class="govuk-back-link" href="javascript:history.back()">Back</a>

  {% endblock %}

  {% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-form-group">

      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">
        <span class="govuk-caption-l">Joe B Waste Services</span>
        </span>

        <h1 class="govuk-heading-l">Report receipt of waste <br>by spreadsheet </h1>

        <form method="post" action="/layouts/Private-beta/MVP-Registration/V2/S2/WR1/waste-movements-answer">

          {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
          classes: "govuk-radios",
          name: "wasteMovements",
          value: data['wasteMovements'],
          fieldset: {
          legend: {
          text: "What would you like to do?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
          }
          },
          items: [
          {
              value: "download-spreadsheet",
              text: "Download spreadsheet template"
              },
              {
              value: "upload-spreadsheet",
              text: "Upload a spreadsheet"
              },
            {
              value: "update-spreadsheet",
              text: "Update a spreadsheet that has a Waste tracking ID"
              }
              ]
              }) }}

          {{ govukButton({
            classes: "govuk-!-margin-top-6",
                  text: "Continue"
                  }) }}

        </form>

      </div>

    {% endblock %}