{% extends "/layouts/main.html" %}

{% block header %}
  {% from "govuk/components/header/macro.njk" import govukHeader %}

  {{ govukHeader({
  homepageUrl: "#"
}) }}

  {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

  {{ govukServiceNavigation({
    classes: "govuk-!-margin-bottom-2",
    serviceName: "Digital waste tracking",
    navigation: [
    {
      href: "#",
      text: "Waste tracking account",
      active: true
    },
    {
      href: "/layouts/Collections/Alpha/Registration/V1/S2/WR1/manage-account-2",
      text: "Manage account"
    },
    {
      href: "#",
      text: "Sign out"
    }
  ]
  }) }}

{% endblock %}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="/layouts/Private-beta/Waste-movements/designs">give your feedback (opens in new tab)</a>.'
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-!-margin-bottom-6 govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Joe B Waste Services</span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Waste tracking account</h1>

    </div>

    <div class="govuk-grid-column-full">

      <div class="govuk-grid-row govuk-!-margin-top-8">

        <div class="govuk-grid-column-one-third">
          <div class="govuk-card govuk-card--contained-2">
            <a href=""></a>
            <div class="govuk-card__content">
              <h3 class="govuk-heading-m">
                <a href="/layouts/Collections/Alpha/Registration/V1/S2/WR1/view-your-API" class="govuk-link--no-visited-state">Report a waste movement</a>
              </h3>

              <p class="govuk-body govuk-!-margin-bottom-2 govuk-!-padding-bottom-2">Use your API to report waste you are collecting <br>or receiving.</p>

              <h4 class="govuk-heading-s">
                <a href="/layouts/Collections/Alpha/Registration/V1/S2/WR1/spreadsheet" class="govuk-link--no-visited-state">Report receipt of waste <br>by spreadsheet</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <div class="govuk-card govuk-card--contained-2">
            <a href=""></a>
            <div class="govuk-card__content">
              <h3 class="govuk-heading-m govuk-!-margin-bottom-3">View a waste record
              </h3>

              <p class="govuk-body govuk-!-margin-bottom-1 govuk-!-padding-bottom-8">Search for a previous submitted waste movement.</p>

            </div>
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <div class="govuk-card govuk-card--contained-2">
            <a href=""></a>
            <div class="govuk-card__content">
              <h3 class="govuk-heading-m govuk-!-margin-bottom-3">Pay service charge
              </h3>

            </div>
            <div class="govuk-card__actions">
              <strong class="first-capital govuk-tag govuk-tag--yellow ">
                    Due October 2026
                    </strong>

              <p class="govuk-body govuk-!-padding-top-5 govuk-!-margin-bottom-6 govuk-!-padding-bottom-6">The Service charge is currently not available.

            </div>

            </p>
          </div>
        </div>

      </div>

    </div>

  </div>

{% endblock %}