{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

        <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds">

                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
                                <span class="govuk-caption-xl">Alpha</span>
                                Collections of waste
                        </h1>

                        <p class="govuk-body-l govuk-!-padding-bottom-5">
                                <span class="govuk-body-l govuk-!-font-weight-bold">User group:</span>
                        Carriers
                        </p>

                        <P class="govuk-body-l govuk-!-margin-top-3 govuk-!-margin-bottom-6">
                        May 2026
                        </p>
                        
                        
                        <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

                                <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Registration</h2>
                                <strong class="first-capital govuk-tag govuk-tag--blue govuk-!-margin-top-4">
                        Not tested
                        </strong>

                                <a href="/layouts/Collections/Alpha/Registration/V1/guidance" class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version 1</a>

                                <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-4">High level research objectives</h2>

                                <ol class="govuk-list govuk-list--number govuk-list--spaced">

                                        <li class="govuk-!-padding-bottom-2">
                                                <strong>Registration</strong> &#8211; TBC 
                                </li>

                                </ol>


                                <h2 class="govuk-heading-m govuk-!-margin-bottom-4">High level research questions</h2>

                                <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-padding-bottom-2">

                                        <li class="govuk-!-padding-bottom-2">TBC
                                        </li>
                                </ol>

                        </div>


                </div>
        </div>

{% endblock %}