{% extends "layouts/main.html" %}

{% set serviceName %}
{# Defra account #}
{% endset%}

{% block beforeContent %}

    {# <a class="govuk-back-link" href="javascript:history.back()">Back</a> #}

{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-form-group">

            <div class="govuk-grid-column-two-thirds">

                <p style="font-family: Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 30px 0 30px 0;">
                                Joe B Recycling Ltd,
                            </p>

                <p style="font-family: Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 30px 0 30px 0;">
                                We have checked your spreadsheet and could not find any issues. 
                            </p>

                <p style="font-family: Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 30px 0 30px 0;">
                                We have added a unique Waste Tracking ID to each movement in the spreadsheet.
                            </p>

                <p style="font-family: Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 30px 0 30px 0;">
                                You will need this ID if you want to update a movement.
                            </p>

                <p class="govuk-body">
                    <a class="govuk-link" href="/layouts/Private-beta/MVP-Registration/V1/S3/WR2/confirmation-waste-id">View your spreadsheet</a>
                </p>

                <p style="font-family: Arial, sans-serif; font-size: 19px; margin: 30px 0 30px 0;">
                                Regards, <br>Digital Waste Tracking team
                            </p>


            </div>

        {% endblock %}