{% extends "layouts/main.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Report receipt of waste
      </h1>

      <p class="govuk-body">
        If your organisation has one or more licensed or permitted sites that receive waste, you can use this service to:         
        </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>create or sign in to a Defra account to register your organisation</li>
        <li>add other waste receiving organisations to your account</li>
        <li>send your receipt of waste data</li>
      </ul>

      <div class="govuk-warning-text govuk-!-margin-top-6">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
            You cannot use this service until you have created a Defra account for your organisation.
          </strong>
      </div>

        <a href="/layouts/Private-beta/MVP-Registration/V2/S1/sign-in" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-5" data-module="govuk-button">
          Start now<svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
          </svg>
        </a>

        <h2 class="govuk-heading-m govuk-!-margin-top-6">
        Get help
        </h2>

        <p class="govuk-body">
        Contact the support team if you have any questions about the service or if you are having problems using it.
        </p>

        <p class="govuk-body">
        Email: <a href="#" class="govuk-link">WasteTracking_Testing@defra.gov.uk</a>
        </p>

        <p class="govuk-body">
        Telephone: 0800 876 6458
        </p>

    </div>
  </div>

{% endblock %}