{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

        <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds">

                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
                                <span class="govuk-caption-xl">Private Beta</span>
                                Report receipt of waste
                        </h1>

                        <p class="govuk-body-l govuk-!-padding-bottom-5">
                                <span class="govuk-body-l govuk-!-font-weight-bold">User group:</span>
                        Waste receivers
                        </p>

                        <P class="govuk-body-l govuk-!-margin-top-3 govuk-!-margin-bottom-6">
                        October to November 2025 
                        </p>

                        <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

                                <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Web form</h2>
                                <strong class="first-capital govuk-tag govuk-tag--green govuk-!-margin-top-4">
                        Tested
                        </strong>

                                <h3 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">Version 1</h3>

                                <a href="/layouts/Private-beta/Web-form/Idea-A/J1/waste-sites-paid" class="govuk-heading-s govuk-link--no-visited-state">Idea A</a>

                                <a href="/layouts/Private-beta/Web-form/Idea-B/J1/waste-account" class="govuk-heading-s govuk-link--no-visited-state">Idea B</a>


                                <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-4">High level research objectives</h2>


                                <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-padding-bottom-2">

                                        <li class="govuk-!-padding-bottom-1">
                                                <strong>Appetite for web form concepts:</strong> &#8211; how open are users to using the webform concepts as an alternative to API and spreadsheet approaches? 
                                        </li>
                              
                                        <li class="govuk-!-padding-bottom-1">
                                                <strong>Concept comprehension:</strong> &#8211; do users understand the web form concepts and how it fits into their current workflow?
                                        </li>

                                        <li class="govuk-!-padding-bottom-1">
                                                <strong>Alignment with user needs and workflows:</strong> &#8211; how well do the concepts support their waste management needs and workflows?
                                        </li>

                                        <li class="govuk-!-padding-bottom-1">
                                                <strong>Adoption signals:</strong> &#8211; what would support or prevent adoption of the web form approach in real life?
                                        </li>

                                        <li class="govuk-!-padding-bottom-1">
                                                <strong>Pain points and blockers:</strong> &#8211; are there any challenges users anticipate in using these concepts?
                                        </li>

                                        <li>
                                                <strong>Opportunities for improvement:</strong> &#8211; what can be improved about the concepts tested, so that it's an effective alternative to API and current spreadsheet waste tracking?
                                        </li>

                                </ol>


                                <h2 class="govuk-heading-m govuk-!-margin-top-2 govuk-!-margin-bottom-4">High level research questions</h2>

                                <h3 class="govuk-heading-s govuk-!-margin-top-2">Understanding and Appeal</h3>

                                <ol class="govuk-list govuk-list--bullet govuk-list--spaced">

                                        <li>how do users perceive the idea of completing waste movements through a web form instead of their current methods? 
                                        </li>
                              
                                </ol>

                                <h3 class="govuk-heading-s">Comprehension and Usability</h3>

                                <ol class="govuk-list govuk-list--bullet govuk-list--spaced">

                                        <li>how easily do users understand and navigate the concepts presented? 
                                        </li>
                              
                                        <li class="govuk-!-padding-bottom-1">what helps or hinders their ability to complete tasks confidently and efficiently?
                                        </li>
                                </ol>

                                <h3 class="govuk-heading-s govuk-!-margin-top-2 govuk-!-margin-bottom-4">Fit with Existing Workflows</h3>

                                <ol class="govuk-list govuk-list--bullet govuk-list--spaced">

                                        <li class="govuk-!-padding-bottom-1">how well do the web form concepts align with users' current ways of working and their waste management processes? 
                                        </li>
                              
                                </ol>

                                <h3 class="govuk-heading-s govuk-!-margin-top-2 govuk-!-margin-bottom-4">Perceived Value and Efficiency</h3>

                                <ol class="govuk-list govuk-list--bullet govuk-list--spaced">

                                        <li class="govuk-!-padding-bottom-1">what aspects of the web form experience make data entry feel easier, faster, or more manageable compared to existing tools?
 
                                        </li>
                              
                                </ol>

                                <h3 class="govuk-heading-s govuk-!-margin-top-2 govuk-!-margin-bottom-4">Adoption and Trust</h3>

                                <ol class="govuk-list govuk-list--bullet govuk-list--spaced">

                                        <li class="govuk-!-padding-bottom-1">what factors would encourage or discourage users from adopting the web form approach in real use?
 
                                        </li>
                              
                                </ol>

                                <h3 class="govuk-heading-s govuk-!-margin-top-2 govuk-!-margin-bottom-4">Pain Points and Improvement Opportunities</h3>

                                <ol class="govuk-list govuk-list--bullet govuk-list--spaced">

                                        <li class="govuk-!-padding-bottom-1">where do users experience confusion, friction, or unmet needs when interacting with the concepts?
 
                                        </li>
                              
                                        <li class="govuk-!-padding-bottom-1">what opportunities exist to improve usability, comprehension, and confidence?
 
                                        </li>
                                </ol>

                                <h3 class="govuk-heading-s govuk-!-margin-top-2 govuk-!-margin-bottom-4">Behavioural and Workflow Insights</h3>

                                <ol class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-padding-bottom-4">

                                        <li class="govuk-!-padding-bottom-1">in what circumstances might users need to change how they submit waste movements, or revisit previous records?
                                        </li>
                              
                                        <li class="govuk-!-padding-bottom-1">what patterns or behaviours could shape how they use a future web form service?
 
                                        </li>
                                </ol>

                        </div>

                </div>
        </div>

{% endblock %}