{% extends "layouts/main.html" %}

{% block header %}
  {% from "govuk/components/header/macro.njk" import govukHeader %}
  {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

  {{ govukHeader({
    homepageUrl: "#"
  }) }}

  {{ govukServiceNavigation({
    classes: "govuk-!-margin-bottom-2",
    serviceName: "Report receipt of waste",
    serviceUrl: "account-home",
    navigation: [
      {
        href: "account-home",
        text: "Waste account",
        active: true
      },
      {
        href: "#",
        text: "Manage Defra account"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}

{% endblock %}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="/not-yet-built">give your feedback (opens in new tab)</a>.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="who-2-represent-answer">

        {{ govukRadios({
          name: "who-2-represent",
          value: data['who-2-represent'],
          fieldset: {
            legend: {
              text: "Which organisation do you want to act for?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "joe-b-waste-services",
              text: "Joe B Waste Services"
            },
            {
              value: "joe-b-recycling-ltd",
              text: "Joe B Recycling Ltd"
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
          <a class="govuk-link" href="/not-yet-built">My organisation is not listed</a>
        </div>

      </form>

      {{ govukDetails({
        summaryText: "Need help?",
        html: '
          <p class="govuk-body">Contact the support team by phone or email.</p>
          <p class="govuk-body">Telephone: 03000 203 781<br>Monday to Friday, 8am to 5pm (except public holidays)</p>
          <p class="govuk-body">Email: <a href="#" class="govuk-link">waste.tracking@environment-agency.gov.uk</a></p>
        '
      }) }}

    </div>
  </div>

{% endblock %}
