{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

        <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds">

                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
                                <span class="govuk-caption-xl">Private Beta</span>
                                Report receipt of waste
                        </h1>

                        <p class="govuk-body-l govuk-!-padding-bottom-5">
                                <span class="govuk-body-l govuk-!-font-weight-bold">User group:</span>
                        Waste receivers
                        </p>

                        <P class="govuk-body-l govuk-!-margin-top-3 govuk-!-margin-bottom-6">
                        December 2025 to January 2026 
                        </p>


                        <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

                                <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">MVP &ndash; Registration</h2>

                                <h3 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">V1</h3>

                                <strong class="first-capital govuk-tag govuk-tag--orange govuk-!-margin-top-4">
                                        For Dev build
                                </strong>

                                <strong class="first-capital govuk-tag govuk-tag--blue govuk-!-margin-top-4 govuk-!-margin-left-2">
                                        Not tested
                                </strong>

                                <h3 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">UI Designs</h3>

                                <a href="/layouts/Private-beta/MVP-Registration/dev-build/permit-uk" class="govuk-heading-s govuk-link--no-visited-state">Do you operate one or more licensed or permitted waste receiving sites?</a>

                                <a href="/layouts/Private-beta/MVP-Registration/dev-build/not-a-waste-receiver" class="govuk-heading-s govuk-link--no-visited-state">Sorry, you cannot use the service</a>

                                <a href="/layouts/Private-beta/MVP-Registration/dev-build/WR-next-activity" class="govuk-heading-s govuk-link--no-visited-state">[WR Name] &#8211; What do you want to do next?</a>

                                <a href="/layouts/Private-beta/MVP-Registration/dev-build/view-your-API" class="govuk-heading-s govuk-link--no-visited-state">Your API code</a>

                                <a href="/layouts/Private-beta/MVP-Registration/dev-build/disable-API-code" class="govuk-heading-s govuk-link--no-visited-state">Disable this API code</a>

                                <a href="/layouts/Private-beta/MVP-Registration/dev-build/API-disabled" class="govuk-heading-s govuk-link--no-visited-state">Confirmation &#8211; API code disabled</a>

                                <a href="/layouts/Private-beta/Onboarding/dev-build-2/additional-api-code" class="govuk-heading-s govuk-link--no-visited-state">Additional API code</a>

                                <a href="/layouts/Private-beta/MVP-Registration/dev-build/live-and-disabled-api-code" class="govuk-heading-s govuk-link--no-visited-state">Live API code and disabled API code</a>

                                <a href="/layouts/Private-beta/Onboarding/dev-build-2/change-API-name" class="govuk-heading-s govuk-link--no-visited-state govuk-!-padding-bottom-6">Change name of the API code</a>
                        
                        </div>



                        <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

                                <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">MVP &ndash; Registration</h2>
                                <strong class="first-capital govuk-tag govuk-tag--blue govuk-!-margin-top-4">
                                        Not tested
                                </strong>

                                <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-4">Scenario 1</h3>

                                <p class="govuk-body govuk-!-margin-bottom-0">How a user adds multiple businesses or organisations to their account</p>

                                <a href="/layouts/Private-beta/MVP-Registration/V1/S1/guidance" class="govuk-heading-s govuk-link--no-visited-state">Add accounts</a>


                                <h3 class="govuk-heading-s govuk-!-padding-top-6 govuk-!-margin-bottom-4">Scenario 2</h3>

                                <p class="govuk-body">How a user sends a spreadsheet</p>

                                <p class="govuk-body govuk-!-margin-bottom-0">How a user responds to an email expalining there werer errors found in the spreadsheet?</p>

                                <a href="/layouts/Private-beta/MVP-Registration/V1/S2/guidance" class="govuk-heading-s govuk-link--no-visited-state">Upload spreadsheet</a>


                                <h3 class="govuk-heading-s govuk-!-padding-top-6 govuk-!-margin-bottom-4">Scenario 3</h3>

                                <p class="govuk-body govuk-!-margin-bottom-0">How a user sends an updated spreadsheet</p>

                                <p class="govuk-body govuk-!-padding-top-2 govuk-!-margin-bottom-0">How a user responds to a successful confirmation email</p>

                                <a href="/layouts/Private-beta/MVP-Registration/V1/S3/guidance" class="govuk-heading-s govuk-link--no-visited-state">Update spreadsheet</a>


                                <h3 class="govuk-heading-s govuk-!-padding-top-6 govuk-!-margin-bottom-4">What we tested</h3>

                                <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-padding-bottom-2">

                                        <li class="govuk-!-padding-bottom-2">
                                                <strong>TBC</strong> &#8211; TBC 
                                </li>

                                </ol>

                        </div>

                </div>
        </div>

{% endblock %}