{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

        <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds">

                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
                                <span class="govuk-caption-xl">Private Beta</span>
                                Report receipt of waste
                        </h1>

                        <p class="govuk-body-l govuk-!-padding-bottom-5">
                                <span class="govuk-body-l govuk-!-font-weight-bold">User group:</span>
                        Waste receivers
                        </p>

                        <P class="govuk-body-l govuk-!-margin-top-3 govuk-!-margin-bottom-6">
                        December 2025 to February 2026 
                        </p>

                        <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

                                <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">MVP &ndash; Registration</h2>

                                <h3 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">V2</h3>

                                <strong class="first-capital govuk-tag govuk-tag--blue govuk-!-margin-top-4">
                                        Not tested
                                </strong>

                                <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-4">Scenario 1</h3>


                                <a href="/layouts/Private-beta/MVP-Registration/V2/S1/guidance" class="govuk-heading-s govuk-link--no-visited-state">Create an account</a>

                                <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-4">Scenario 2</h3>


                                <a href="/layouts/Private-beta/MVP-Registration/V2/S2/WR1/wr1-account" class="govuk-heading-s govuk-link--no-visited-state">Add other organisation</a>

                                <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-4">Scenario 3</h3>


                                <a href="/layouts/Private-beta/MVP-Registration/V2/S3/WR1/wr1-account" class="govuk-heading-s govuk-link--no-visited-state govuk-!-padding-bottom-6">Change to another organisation</a>

                        </div>

                        <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

                                <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">MVP &ndash; Registration</h2>

                                <h3 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">V2</h3>

                                <strong class="first-capital govuk-tag govuk-tag--orange govuk-!-margin-top-4">
                                        For Dev build
                                </strong>

                                <strong class="first-capital govuk-tag govuk-tag--blue govuk-!-margin-top-4 govuk-!-margin-left-2">
                                        Not tested
                                </strong>

                                <h3 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">UI Designs</h3>

                                <a href="/layouts/Private-beta/MVP-Registration/dev-build/wr1-account" class="govuk-heading-s govuk-link--no-visited-state">Waste receiving account</a>

                                <a href="/layouts/Private-beta/MVP-Registration/dev-build/report-receipt-of-waste" class="govuk-heading-s govuk-link--no-visited-state">Report receipt of waste</a>

                                <a href="/layouts/Private-beta/MVP-Registration/dev-build/spreadsheet-download" class="govuk-heading-s govuk-link--no-visited-state">Download spreadsheet</a>

                                <a href="/layouts/Private-beta/MVP-Registration/dev-build/manage-account" class="govuk-heading-s govuk-link--no-visited-state">Manage account</a>

                                <a href="/layouts/Private-beta/MVP-Registration/dev-build/add-organisation" class="govuk-heading-s govuk-link--no-visited-state">Add another organisation</a>

                                <a href="/layouts/Private-beta/MVP-Registration/dev-build/add-team-member-to-org" class="govuk-heading-s govuk-link--no-visited-state">Add a team member</a>



                        </div>

                        <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

                                <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">MVP &ndash; Registration</h2>

                                <h3 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">V1</h3>

                                <strong class="first-capital govuk-tag govuk-tag--orange govuk-!-margin-top-4">
                                        For Dev build
                                </strong>

                                <strong class="first-capital govuk-tag govuk-tag--green govuk-!-margin-top-4 govuk-!-margin-left-2">
                                        Tested
                                </strong>

                                <h3 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">UI Designs</h3>

                                <a href="/layouts/Private-beta/MVP-Registration/dev-build/permit-uk" class="govuk-heading-s govuk-link--no-visited-state">Do you operate one or more licensed or permitted waste receiving sites?</a>

                                <a href="/layouts/Private-beta/MVP-Registration/dev-build/not-a-waste-receiver" class="govuk-heading-s govuk-link--no-visited-state">Sorry, you cannot use the service</a>

                                <a href="/layouts/Private-beta/MVP-Registration/dev-build/WR-next-activity" class="govuk-heading-s govuk-link--no-visited-state">[WR Name] &#8211; What do you want to do next?</a>

                                <a href="/layouts/Private-beta/MVP-Registration/dev-build/view-your-API" class="govuk-heading-s govuk-link--no-visited-state">Your API code</a>

                                <a href="/layouts/Private-beta/MVP-Registration/dev-build/disable-API-code" class="govuk-heading-s govuk-link--no-visited-state">Disable this API code</a>

                                <a href="/layouts/Private-beta/MVP-Registration/dev-build/API-disabled" class="govuk-heading-s govuk-link--no-visited-state">Confirmation &#8211; API code disabled</a>

                                <a href="/layouts/Private-beta/MVP-Registration/dev-build/additional-api-code" class="govuk-heading-s govuk-link--no-visited-state">Additional API code</a>

                                <a href="/layouts/Private-beta/MVP-Registration/dev-build/disabled-and-live-api-codes" class="govuk-heading-s govuk-link--no-visited-state">Disabled API code and live API code</a>

                                <a href="/layouts/Private-beta/MVP-Registration/dev-build/change-API-name" class="govuk-heading-s govuk-link--no-visited-state govuk-!-padding-bottom-6">Change name of the API code</a>

                        </div>

                        <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

                                <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">MVP &ndash; Registration</h2>

                                <h3 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">V1</h3>

                                <strong class="first-capital govuk-tag govuk-tag--green govuk-!-margin-top-4">
                                        Tested
                                </strong>

                                <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-4">Scenario 1</h3>

                                <p class="govuk-body govuk-!-margin-bottom-0">How a user adds multiple businesses or organisations to their account</p>

                                <a href="/layouts/Private-beta/MVP-Registration/V1/S1/guidance" class="govuk-heading-s govuk-link--no-visited-state">Add accounts</a>

                                <h3 class="govuk-heading-s govuk-!-padding-top-6 govuk-!-margin-bottom-4">Scenario 2</h3>

                                <p class="govuk-body">How a user sends a spreadsheet</p>

                                <p class="govuk-body govuk-!-margin-bottom-0">How a user responds to an email expalining there werer errors found in the spreadsheet?</p>

                                <a href="/layouts/Private-beta/MVP-Registration/V1/S2/guidance" class="govuk-heading-s govuk-link--no-visited-state">Upload spreadsheet</a>

                                <h3 class="govuk-heading-s govuk-!-padding-top-6 govuk-!-margin-bottom-4">Scenario 3</h3>

                                <p class="govuk-body govuk-!-margin-bottom-0">How a user sends an updated spreadsheet</p>

                                <p class="govuk-body govuk-!-padding-top-2 govuk-!-margin-bottom-0">How a user responds to a successful confirmation email</p>

                                <a href="/layouts/Private-beta/MVP-Registration/V1/S3/guidance" class="govuk-heading-s govuk-link--no-visited-state">Update spreadsheet</a>

                                <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-4">High level research objectives</h2>

                                <ol class="govuk-list govuk-list--number govuk-list--spaced">

                                        <li class="govuk-!-padding-bottom-2">
                                                <strong>Registration</strong> &#8211; to understand if waste receivers can register without support when they join the new digital waste tracking service, especially their understanding of registering and adding each business / organisation &#40;concept of legal entity&#41; separately. 
                                </li>

                                        <li class="govuk-!-padding-bottom-2">
                                                <strong>Data submission journeys</strong> &#8211; to evaluate waste receivers' understanding of being required to submit movement data separately per business / organisation, how their business / organisation might handle this, and what additional guidance might be required to support them to join the private beta service.
                                </li>

                                        <li class="govuk-!-padding-bottom-2">
                                                <strong>Update information</strong> &#8211; to evaluate waste receivers' understanding of updating movement data, how they might handle this, and what additional guidance might be required.
                                </li>

                                </ol>

                                <h2 class="govuk-heading-m govuk-!-margin-bottom-4">High level research questions</h2>

                                <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-padding-bottom-2">

                                        <li class="govuk-!-padding-bottom-2">What implications does using a standardised version of Defra ID &#40;without an organisations aggregation page&#41; have, particularly those who have to register multiple legal entities?
                                        </li>

                                        <li class="govuk-!-padding-bottom-2">Do they understand &#40;unprompted&#41; that each legal entity needs to be registered, then add / register at least 2 of them?
                                        </li>

                                        <li class="govuk-!-padding-bottom-2">What additional workload does it place on them when they have to register multiple, and how might their company handle this? &#40;centralised or distributed / delegated?&#41;
                                        </li>

                                        <li class="govuk-!-padding-bottom-2">Do they understand &#40;unprompted&#41; that each legal entity needs to submit movement data separately, and how might they handle this? &#4;centralised or distributed / delegated?&#41;
                                        </li>

                                        <li class="govuk-!-padding-bottom-2">Do they understand &#40;unprompted&#41; how to update waste movements, that a Waste Tracking ID will be needed, and that it will come from a previously uploaded submission being downloaded?
                                        </li>
                                </ol>

                        </div>

                </div>
        </div>

{% endblock %}