{% extends "layouts/main.html" %}

{% set serviceName %}
  Report receipt of waste
{% endset%}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

  <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/layouts/Private-beta/Onboarding/V1/api-info-answer" method="post">

        <h1 class="govuk-heading-xl">
          What are my API credentials for the report receipt of waste service
        </h1>

        <p class="govuk-body">To send waste receipt data to us using the API, you'll need to give your software provider the details below.</p>

        <div class="govuk-inset-text">
          Important: This is the only time you'll see your full company credentials. Please copy and save them somewhere secure.
        </div>

        <div class="govuk-form-group govuk-!-padding-top-6">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              Would you like to view the API credentials for your company account?
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="yes-api-credentials" name="api-credentials" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="yes-api-credentials">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="no-api-credentials" name="api-credentials" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="no-api-credentials">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}