{% extends "layouts/main.html" %}

{% set serviceName %}
  Report receipt of waste
{% endset%}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

  <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          Your API credentials for the Report Receipt of Waste service
        </h1>

        <div class="govuk-summary-card govuk-!-margin-bottom-8">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Your API company credentials
            </h2>
          </div>
          <p class="govuk-body govuk-!-padding-left-4 govuk-!-padding-top-4  govuk-!-padding-right-4">These identify your organisation and authorise your API submissions.</P>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Client ID
                </dt>
                <dd class="govuk-summary-list__value">
                  a84-bd2-9a0-c4e
                </dd>
                <dd class="govuk-summary-list__actions">
                  {# <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a> #}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Client secret
                </dt>
                <dd class="govuk-summary-list__value">
                  h7jK!mN-pQz-9a0-c4e
                </dd>
                <dd class="govuk-summary-list__actions">
                  {# <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a> #}
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Your registered site IDs
            </h2>
          </div>
          <p class="govuk-body govuk-!-padding-left-4 govuk-!-padding-top-4 govuk-!-padding-right-4">Each site you've registered has a unique ID. These must be included in your API submissions to match waste receipts to the correct location. Your waste management software should support this.</P>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Main Depot
                </dt>
                <dd class="govuk-summary-list__value">
                  bb31d5ac-fc3c-4b54-bcb6-d3d0eca6fe8c
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  North Warehouse
                </dt>
                <dd class="govuk-summary-list__value">
                  2f9d14a5-6e01-4c78-b11c-8e3f0d2c67b9
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Recycling MRF
                </dt>
                <dd class="govuk-summary-list__value">
                  5d8e7c6b-9a1f-40e3-b2d4-1c9a8b7e6f5d
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Commercial South Yard
                </dt>
                <dd class="govuk-summary-list__value">
                  e4b9c1d6-7a8f-43b5-9c1d-2e3f4a5b6c7d
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <h2 class="govuk-heading-m govuk-!-margin-top-8">What happens next</h2>
        <p class="govuk-body">
          Share these credentials with your software provider. They'll use them to set up your system and start submitting your waste receipt data securely to DEFRA.
          Need help? Contact our support team if you have any questions or need assistance.
        </p>

        <p class="govuk-body govuk-!-padding-bottom-6">
          <a class="govuk-link" href="/layouts/Private-beta/Onboarding/V1/waste-account-2-sites-paid-api-viewed">Return to account</a>
        </p>

    </div>
  </div>

{% endblock %}