{% extends "layouts/main.html" %}

{% set serviceName %}
  Report receipt of waste
{% endset%}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

  <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Check your site details</h1>
      {# <h2 class="govuk-heading-m">Pay your service charge</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Payment
            </dt>
          <dd class="govuk-summary-list__value">
              Paid
            </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
          </dd>
        </div>
      </dl> #}

      <h2 class="govuk-heading-m">Your site details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Site address
            </dt>
          <dd class="govuk-summary-list__value">
              1 Sample Street<br> Sample Town<br> Sampleshire<br> AB12 3CD
            </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> previous application number</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Full name
            </dt>
          <dd class="govuk-summary-list__value">
              Joe Bloggs
            </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence type</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Email address
            </dt>
          <dd class="govuk-summary-list__value">
              joe.bloggs@gmail.com
            </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> home address</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Phone number
            </dt>
          <dd class="govuk-summary-list__value">
              01234567890
            </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
          </dd>
        </div>
                <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Permit authorisation number
            </dt>
          <dd class="govuk-summary-list__value">
              ABX0123456
            </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
          </dd>
        </div>
      </dl>

      

      <h2 class="govuk-heading-m">Now complete you company regiatration</h2>
      
      <p class="govuk-body">By submitting this information you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
      
      <form action="/layouts/Private-beta/Onboarding/V1/confirmation-reg" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">
        <button type="submit" class="govuk-button" data-module="govuk-button">
            Confirm registration
          </button>

      </form>
      
    </div>
  </div>

{% endblock %}