{% extends "layouts/main.html" %}

{% set serviceName %}
  Report receipt of waste
{% endset%}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-padding-bottom-5">Register your site to report receipt of waste</h1>

      <h2 class="govuk-heading-m">Pay your service charge</h2>

      {% set completedStatus = {
        text: "Completed"
      } %}

      {% set incompleteStatus = {
        tag: {
          text: "Incomplete",
          classes: "govuk-tag--blue"
        }
      } %}

            {% set availableStatus = {
        tag: {
          text: "Available",
          classes: "govuk-tag--blue"
        }
      } %}

      {% set unavailableStatus = {
        tag: {
          text: "Unavailable",
          classes: "govuk-tag--blue"
        }
      } %}

      {# To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" #}

      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "Make payment"
            },
            href: "/layouts/Private-beta/Onboarding/V1/payment/pay-service-charge",
            status: completedStatus
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Your site details</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Site address"
            },
            href: "/layouts/Private-beta/Onboarding/V1/site-details/postcode",
            status: incompleteStatus
          },
          {
            title: {
              text: "Contact details"
            },
            href: "/layouts/Private-beta/Onboarding/V1/site-details/contact-details",
            status: incompleteStatus
          },
          {
            title: {
              text: "Associated site permit authorisation number"
            },
            href: "/layouts/Private-beta/Onboarding/V1/site-details/permit-number",
            status: incompleteStatus
          },
          {
            title: {
              text: "Check your registration details"            },
            href: "#",
            status: incompleteStatus
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
