{% extends "layouts/main.html" %}

{% block header %}
  {% from "govuk/components/header/macro.njk" import govukHeader %}

  {{ govukHeader({
    homepageUrl: "#"
  }) }}

  {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

  {{ govukServiceNavigation({
      classes: "govuk-!-margin-bottom-2",
      serviceName: serviceName,
      serviceUrl: "#"
    }) }}

{% endblock %}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="/layouts/Private-beta/Waste-movements/designs">give your feedback (opens in new tab)</a>.'
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-form-group">

      <div class="govuk-grid-column-two-thirds">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading ">
            Sorry, you cannot use the service
          </h1>
        </legend>

        <p class="govuk-body govuk-!-padding-top-4">Based on your answer, you cannot continue as local authorities are currently unable to use this service.</p>

                <p class="govuk-body "><a class="govuk-link" href="app/views/layouts/Collections/Alpha/Registration/V1/guidance.njk">Find out more about Digital waste tracking</a></p>


      </div>
    </div>
  </div>

{% endblock %}