{% extends "/layouts/main.html" %}

{% block header %}
  {% from "govuk/components/header/macro.njk" import govukHeader %}

  {{ govukHeader({
  homepageUrl: "#"
}) }}

  {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

  {{ govukServiceNavigation({
    classes: "govuk-!-margin-bottom-2",
    navigation: [
    {
      href: "#",
      text: "Sign out"
    }
  ]
  }) }}

{% endblock %}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-form-group">

      <div class="govuk-grid-column-two-thirds">

        <form method="post" action="/layouts/Collections/Alpha/Registration/V1/S2/WR1/Charity/postcode">

          <span class="govuk-caption-xl">
            <span class="govuk-visually-hidden">This section is: </span>Register new Defra account
        </span>

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading" for="charityName">
              What's the registered name of the charity?
              </h1>
          </legend>

          <p class="govuk-body govuk-!-margin-top-6">This is the name registered with <a href="" class="govuk-link govuk-link--no-visited-state">the Charity Commission Service (opens in new tab)</a>.</p>

          <input class="govuk-input govuk-!-width-two-thirds" id="charityName" name="charityName" type="text" autocomplete="address-level2">

          <div class="govuk-form-group">
            <button type="submit" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
              Continue
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}