{% extends "layouts/main.html" %}

{% set serviceName %}
  Report receipt of waste
{% endset%}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back to my account</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-form-group">

      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Your API code</h1>

        <p class="govuk-!-margin-top-6 govuk-!-padding-top-4 govuk-body">
          You will need to share your API code with your software provider to continue reporting your receipt of waste using this service.    
        </p>

        <p class="govuk-body">
          Check with your software provider how to give them the API code. For example will they need it emailing or inputting directly into their app?     
        </p>

        <p class="govuk-!-padding-bottom-4 govuk-body">
          Use the copy button next to your API code to save it in your system or to send it to your software provider.     
        </p>

      </div>

      <div class="govuk-grid-column-three-quarters">

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Joe Waste &#38; Co Ltd
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Reference
                </dt>
                <dd class="govuk-summary-list__value">
                  Label 1
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/layouts/Private-beta/Onboarding/V3/J2/change-ref">Change<span class="govuk-visually-hidden"> the reference for the API code</span></a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  API code
                </dt>
                <dd class="govuk-summary-list__value">
                  af552bd3-f929-4924-a86d-d8e4f0cb8d61
                </dd>
                <dd class="govuk-summary-list__actions">
                  {# <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> whether details are known (Person 2)</span></a> #}
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date created
                </dt>
                <dd class="govuk-summary-list__value">
                  26 September 2025
                </dd>
                <dd class="govuk-summary-list__actions">
                  {# <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> relationship to lead tenant (Person 2)</span></a> #}
                </dd>
              </div>

            </dl>
          </div>
        </div>

        <div>
          <button type="submit" class="govuk-!-margin-bottom-0 govuk-button"  id="AddlegalEntity" name="buttonChoice"  value="Add anaother legal entity" data-module="govuk-button">
                Copy API code
            </button>
        </div>

        <h3 class="govuk-!-padding-top-8 govuk-!-margin-top-6 govuk-heading-m">Do you need to create an additional API code?</h3>

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class=" govuk-fieldset__heading"></h2>
        </legend>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                    Why might I need to do this?
                  </span>
          </summary>

          <div class="govuk-details__text">

            <p class="govuk-body">
                  You can create multiple API codes. For example, if you work with multiple software providers, each will need its own code.
                </p>

          </div>
        </details>

        <button type="submit" class=" govuk-button govuk-button--secondary" data-module="govuk-button">
              Create an additional API code
            </button>

      </div>
    </form>

  </div>

{% endblock %}