{% extends "layouts/main.html" %}

{% set serviceName %}
  Report receipt of waste
{% endset%}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-form-group">

      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Your API code</h1>

        <p class="govuk-!-margin-top-6 govuk-!-padding-top-4 govuk-body">
          You will need to share your API code with your software provider to continue reporting your receipt of waste using this service.    
        </p>

        <p class="govuk-body">
          Check with your software provider how to give them the API code. For example will they need it emailing or inputting directly into their app?     
        </p>

        <p class="govuk-!-padding-bottom-4 govuk-body">
          Use the copy button next to your API code to save it in your system or to send it to your software provider.     
        </p>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              ch192bd4-h929-4924-a86d-d8e4f0cb8d61
            </h2>

          </div>
        </div>

        <div>
          <button type="submit" class="govuk-!-margin-bottom-0 govuk-button"  id="AddlegalEntity" name="buttonChoice"  value="Add anaother legal entity" data-module="govuk-button">
                Copy API code
            </button>
        </div>

        <form method="post" action="/layouts/Private-beta/Onboarding/V3/J2/defra-id/account-type-answer">

          <fieldset class="govuk-!-margin-top-6 govuk-fieldset" aria-describedby="changedName-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-!-margin-top-6 govuk-!-padding-top-4 govuk-fieldset__heading">
                Do you need to request an additional API ID for another software provider?
              </h2>
            </legend>

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Why might I need to do this?
                  </span>
              </summary>

              <div class="govuk-details__text">

                <p class="govuk-body">
                  If you work with multiple software providers, you can request multiple API codes.                
                </p>

                <p class="govuk-body">
                  Each software provider must have a different code to ensure your reports are correctly matched to your software records.                
                </p>

              </div>
            </details>

            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="registrationAccountType-1" name="registrationAccountType" type="radio" value="Yes create an account">
                <label class="govuk-label govuk-radios__label" for="registrationAccountType-Yes-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="registrationAccountType-Yes-2" name="registrationAccountType" type="radio" value="No I don't have permission">
                <label class="govuk-label govuk-radios__label" for="registrationAccountType-Yes-2">
                  No
              </label>
              </div>
            </div>
          </fieldset>

          <button type="submit" class="govuk-!-margin-top-6 govuk-button" data-module="govuk-button">
          Continue
        </button>

        </div>
      </form>

    </div>

  {% endblock %}