{% extends "layouts/main.html" %}

{% set serviceName %}
  Report receipt of waste
{% endset%}

{% block beforeContent %}

    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

    {{ govukPhaseBanner({
    tag: {
        text: "Prototype"
        },
        html: 'This is a prototype. It is not a real service.'
        }) }}

    <div class="login-nav">
        <ul class="login-nav__list">
            <li class="login-nav__list-item">
                Joe Bloggs |</li>
            <li class="login-nav__list-item">
                <a href="/layouts/Private-beta/Onboarding/V2/defra-id/id-account-2-accounts-+-service" class="govuk-link login-nav__link govuk-link--no-visited-state profile">Defra account</a>|</li>
            <li class="login-nav__list-item">
                <a href="#" class="govuk-link login-nav__link govuk-link--no-visited-state">Sign out</a>
            </li>
        </ul>
    </div>

{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <span class="govuk-caption-xl">
                <span class="govuk-visually-hidden">This section is: </span>Account for
            </span>

            <h1 class="govuk-heading-xl">J &#38; D Receivers</h1>

            <p>
                <span class="govuk-!-font-weight-bold">Full name:</span> Joe Bloggs
            <br>
                <span class="govuk-!-font-weight-bold">Email address:</span> joebloggs@hotmail.com
            <br>
                <span class="govuk-!-font-weight-bold">Telephone number:</span> 00700700788
                </p>

            <p class="govuk-body govuk-!-padding-top-6 govuk-!-padding-bottom-0">
                <strong>Your organisation number:</strong>
                <span class="govuk-body">1234567891012345</span>
            </p>

            <p class="govuk-body">
                <strong>Service registration:</strong>
                <span class="govuk-tag govuk-tag--green">Complete</span>
            </p>

            <p class="govuk-body govuk-!-padding-top-6">
                You will need to share your organisation number with your software developer to continue reporting your receipt of waste using this service.    
                </p>

            <p class="govuk-body">The service registration will need to be renewed on <stong><strong>Day</strong>, <strong>Month</strong>, <strong>Year</strong>.</strong>
            </p>

        </div>

    {% endblock %}