{% extends "/layouts/main.html" %}

{% block header %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

{{ govukHeader({
  homepageUrl: "#"
}) }}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukServiceNavigation({
    classes: "govuk-!-margin-bottom-2",
  serviceName: "Report receipt of waste",
  serviceUrl: "#",
  navigation: [
    {
      href: "#",
      text: "Waste receivers account",
      active: true
    }
  ]
}) }}

{% endblock %}

{% block beforeContent %}


{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="/layouts/Private-beta/Web-form/Idea-B/J1/waste-account">give your feedback (opens in new tab)</a>.'
}) }}

  {# <a class="govuk-back-link" href="javascript:history.back()">Back</a> #}


{% endblock %}

{% block content %}

    <div class="govuk-!-margin-bottom-6 govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l govuk-!-margin-top-4">Waste receivers account</h1>
{# 
            <form class="form" action="#" method="post">

                <div class="govuk-button-group">

                    <button type="submit" class="govuk-button"  id="AddlegalEntity" name="buttonChoice"  value="Add anaother legal entity" data-module="govuk-button">
                    Add a business or organisation
                </button>
                </div> #}

        </div>

            <div class="govuk-grid-column-full">

                <div class="govuk-grid-row">

                                        <div class="govuk-grid-column-one-third">
                        <div class="govuk-card govuk-card--contained govuk-card--selectable">
                            <a href=""></a>
                            <div class="govuk-card__content">
                                <h3 class="govuk-heading-m">Your waste receivers
                                </h3>
                                <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-font-weight-bold">1</p>
                            </div>
                            <div class="govuk-card__actions">
                                <ul class="govuk-list govuk-!-mb-r0">
                                    <li>
                                        <a href="/layouts/Private-beta/Web-form/Idea-B/J1/waste-sites-paid" class="govuk-link--no-visited-state">View waste receivers</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

<div class="govuk-grid-column-one-third">
                        <div class="govuk-card govuk-card--contained govuk-card--selectable">
                            <a href=""></a>
                            <div class="govuk-card__content">
                                <h3 class="govuk-heading-m">Templates
                                </h3>
                                <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-font-weight-bold">2</p>
                            </div>
                            <div class="govuk-card__actions">
                                <ul class="govuk-list govuk-!-mb-r0">
                                    <li>
                                        <a href="/layouts/Private-beta/Web-form/Idea-B/J2/your-templates-2" class="govuk-link--no-visited-state">View templates</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="govuk-grid-column-one-third ">
                        <div class="govuk-card govuk-card--contained govuk-card--selectable">
                            <a href=""></a>
                            <div class="govuk-card__content">
                                <h3 class="govuk-heading-m">Waste movements
                                </h3>
                                <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-font-weight-bold">2</p>
                            </div>
                            <div class="govuk-card__actions">
                                <ul class="govuk-list govuk-!-mb-r0">
                                    <li>
                                        <a href="/layouts/Private-beta/Web-form/Idea-B/J2/your-waste-movements-2" class="govuk-link--no-visited-state">View waste movements</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    {# <div class="govuk-grid-column-one-third ">
                        <div class="govuk-card govuk-card--contained govuk-card--selectable">
                            <a href=""></a>
                            <div class="govuk-card__content">
                                <h3 class="govuk-heading-m">
                                    <a href="/account/manage/organisation-details" class="govuk-link--no-visited-state">Manage your organisation</a>
                                </h3>

                                <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-font-weight-bold">1</p>

                            </div>

                            <div class="govuk-card__actions">
                                <ul class="govuk-list govuk-!-mb-r0">
                                    <li>
                                        <a href="" class="govuk-link--no-visited-state">Add related organisation</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div> #}

                </div>


            </div>

        </div>

    </div>

{% endblock %}