{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

        <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds">

                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
                                <span class="govuk-caption-xl">Private Beta</span>
                                Report receipt of waste
                        </h1>

                        <p class="govuk-body-l govuk-!-padding-bottom-5">
                                <span class="govuk-body-l govuk-!-font-weight-bold">User group:</span>
                        Waste receivers
                        </p>

                        <P class="govuk-body-l govuk-!-margin-top-3 govuk-!-margin-bottom-6">
                        February 2026 
                        </p>
                        <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

                                <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Service charge and payment</h2>

                                <a href="/layouts/Private-beta/Service-charge/V1/wr1-account-due" class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version 1</a>


                                <strong class="first-capital govuk-tag govuk-tag--pink govuk-!-margin-top-4">
                                        For Dev build
                                        </strong>

                                <strong class="first-capital govuk-tag govuk-tag--green govuk-!-margin-left-2 govuk-!-margin-top-4">
                                        Tested
                                        </strong>

                                <h3 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">UI Designs</h3>

                                <a href="/layouts/Private-beta/Service-charge/V1/wr1-account-due" class="govuk-heading-s govuk-link--no-visited-state govuk-!-padding-top-3">Service charge &#8211; Due</a>

                                <a href="/layouts/Private-beta/Service-charge/V1/wr1-account-not-due" class="govuk-heading-s govuk-link--no-visited-state">Service charge &#8211; Not Due</a>

                                <a href="/layouts/Private-beta/Service-charge/V1/wr1-account-overdue" class="govuk-heading-s govuk-link--no-visited-state">Service charge &#8211; Overdue</a>

                                <a href="/layouts/Private-beta/Service-charge/V1/wr1-account-paid" class="govuk-heading-s govuk-link--no-visited-state">Service charge &#8211; Paid</a>
                                
                                <a href="/layouts/Private-beta/Service-charge/V1/why-service-charge" class="govuk-heading-s govuk-link--no-visited-state">About service charge</a>

                                <a href="/layouts/Private-beta/Service-charge/V1/pay-service-charge" class="govuk-heading-s govuk-link--no-visited-state govuk-!-padding-bottom-6">Pay service charge</a>
                        
                        </div>


                </div>
        </div>

{% endblock %}