{% extends "layouts/main.html" %}

{% set serviceName %}
  Defra account
{% endset%}

{% block beforeContent %}

  {# {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

    {{ govukPhaseBanner({
    tag: {
        text: "Prototype"
        },
        html: 'This is a prototype. It is not a real service.'
        }) }} #}

  <div class="login-nav">
    <ul class="login-nav__list">
      <li class="login-nav__list-item">
			
						
				[Your name] |</li>

      <li class="login-nav__list-item">
        {# <a href="#" class="govuk-link login-nav__link govuk-link--no-visited-state profile">Account home</a>|</li> #}
      <li class="login-nav__list-item">
        <a href="/layouts/Private-beta/Onboarding/V2/no-design-yet" class="govuk-link login-nav__link govuk-link--no-visited-state">Sign out</a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- Notification banner -->

      <!-- Macro for showing the H1 and section -->

      <h1 class="govuk-heading-xl">Your Defra account</h1>

      <!-- Third party layout -->

    </div>
    <div class="govuk-grid-column-full">

      <p>

        <span class="govuk-!-font-weight-bold">Full name:</span> [Your name]
  <br>
        <span class="govuk-!-font-weight-bold">Email address:</span> [Your email address]
  <br>
        <span class="govuk-!-font-weight-bold">Telephone number:</span> [Your telephone number]</p>

      <p class="govuk-body">
        <a href="/layouts/Private-beta/Onboarding/V2/no-design-yet" class="govuk-link govuk-link--no-visited-state">Update details</a>
      </p>
      <p class="govuk-body">
        <a href="/layouts/Private-beta/Onboarding/V2/no-design-yet" class="govuk-link govuk-link--no-visited-state">Reset security word</a>
      </p>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
      Contact support ID
    </span>
        </summary>
        <div class="govuk-details__text">
    If you contact us, you will need your contact support ID, BA202452-V0-4703-P5-0409
  </div>
      </details>

    </div>

    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-l govuk-!-margin-top-7">Your accounts</h2>
      <p>You have access to the following accounts and related services.</p>

      <table class="govuk-table">

        <caption class="govuk-table__caption govuk-visually-hidden">Accounts</caption>

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">

            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Account</th>

            <th scope="col" class="govuk-table__header">Account role</th>

            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Service</th>

            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Service role</th>

            <th scope="col" class="govuk-table__header"></th>

          </tr>
        </thead>

        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">

            <td class="govuk-table__cell">Joe B Waste Services</td>

            <td class="govuk-table__cell">Admin</td>

            <td class="govuk-table__cell">Report receipt of waste</td>

            <td class="govuk-table__cell">Admin user</td>

            <td class="govuk-table__cell">

              <a href="/layouts/Private-beta/MVP-Registration/V1/S1/manage-1st-org" class="govuk-link govuk-link--no-visited-state">Manage<span class="govuk-visually-hidden td-header"></span>
              </a>

            </td>

          </tr>

          <tr class="govuk-table__row">

            <td class="govuk-table__cell">Joe B Recycling Ltd</td>

            <td class="govuk-table__cell"></td>

            <td class="govuk-table__cell">Report receipt of waste</td>

            <td class="govuk-table__cell"></td>

            <td class="govuk-table__cell">

              <a href="/layouts/Private-beta/MVP-Registration/V2/no-design-yet" class="govuk-link govuk-link--no-visited-state">Manage<span class="govuk-visually-hidden td-header"></span>
              </a>

            </td>

          </tr>

        </tbody>
      </table>


      <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="/layouts/Private-beta/MVP-Registration/V2/S2/account-type-2">Register a new account</a>
      </p>

      <h2 class="govuk-heading-l govuk-!-margin-top-7">Your services</h2>


      <div class="govuk-grid-row">
        <div class="govuk-card__content">
          <div class="govuk-grid-column-one-third">
            <div class="govuk-card govuk-card--contained govuk-card--selectable">
              <a href="/layouts/Private-beta/MVP-Registration/V2/S2/WR2/who-2-represent"></a>
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Report receipt of waste</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}