{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

        <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds">

                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
                                <span class="govuk-caption-xl">Private Beta</span>
                                Report receipt of waste
                        </h1>

                        <p class="govuk-body-l govuk-!-padding-bottom-5">
                                <span class="govuk-body-l govuk-!-font-weight-bold">User group:</span>
                        Waste receivers
                        </p>

                        <P class="govuk-body-l govuk-!-margin-top-3 govuk-!-margin-bottom-6">
                        July to October 2025 
                        </p>

                        <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

                                <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Onboarding / Registration</h2>
                                <strong class="first-capital govuk-tag govuk-tag--pink govuk-!-margin-top-4">
                        For Dev build
                        </strong>

                                <h3 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">UI Designs</h3>

                                <a href="/layouts/Private-beta/Onboarding/dev-build/start-page" class="govuk-heading-s govuk-link--no-visited-state govuk-!-padding-top-3">Start page</a>

                                <a href="/layouts/Private-beta/Onboarding/dev-build/waste-receiver" class="govuk-heading-s govuk-link--no-visited-state">Is your business or organisation a waste receiver?</a>

                                <a href="/layouts/Private-beta/Onboarding/dev-build/bus-or-orgs" class="govuk-heading-s govuk-link--no-visited-state">Would you like to add another business or organisation to your account?</a>

                                <a href="/layouts/Private-beta/Onboarding/dev-build/not-a-waste-receiver" class="govuk-heading-s govuk-link--no-visited-state">You are not a waste receiver</a>

                                <a href="/layouts/Private-beta/Onboarding/dev-build/waste-sites-unpaid-service-charge" class="govuk-heading-s govuk-link--no-visited-state">Your waste receiving business or organisation &#8211; Service charge not paid</a>

                                <a href="/layouts/Private-beta/Onboarding/dev-build/pay-service-charge" class="govuk-heading-s govuk-link--no-visited-state">Pay service charge</a>

                                <a href="/layouts/Private-beta/Onboarding/dev-build/review-payment-amount" class="govuk-heading-s govuk-link--no-visited-state">Review payment amount</a>

                                <a href="/layouts/Private-beta/Onboarding/dev-build/payment-confirmation" class="govuk-heading-s govuk-link--no-visited-state">Payment confirmation</a>

                                <a href="/layouts/Private-beta/Onboarding/dev-build/waste-sites-paid" class="govuk-heading-s govuk-link--no-visited-state">Your waste receiving business or organisation &#8211; Service charge paid</a>

                                <a href="/layouts/Private-beta/Onboarding/dev-build/api-terms" class="govuk-heading-s govuk-link--no-visited-state">Terms and Conditions for using our API</a>

                                <a href="/layouts/Private-beta/Onboarding/dev-build/view-api-code" class="govuk-heading-s govuk-link--no-visited-state">Your API code</a>

                                <a href="/layouts/Private-beta/Onboarding/dev-build/view-additional-api-code" class="govuk-heading-s govuk-link--no-visited-state">Additional API code</a>

                                <a href="/layouts/Private-beta/Onboarding/dev-build/change-ref-1" class="govuk-heading-s govuk-link--no-visited-state">Change the reference for the API code</a>

                                <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-padding-top-3 govuk-!-margin-bottom-2">Error designs</h2>

                                <a href="/layouts/Private-beta/Onboarding/dev-build/radio-error" class="govuk-heading-s govuk-link--no-visited-state govuk-!-padding-top-3">Radio input error</a>

                                <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-padding-top-3 govuk-!-margin-bottom-2">User journeys</h2>

                                <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-padding-top-3 govuk-!-margin-bottom-2">First time user</h2>

                                <a href="https://defra.sharepoint.com/:u:/r/sites/ea-leg-djw/WasteTrack/Shared%20Documents/04%20Service%20Design/Interaction%20Design/UX%20journey%20flows/Versions/Registration%20Receivers%20user%20flow%20V4Registration%20Receivers%20end-to-end%20user%20flow%20journey%20Dev%20build.svg?csf=1&web=1&e=sqHeKF" class="govuk-heading-s govuk-link--no-visited-state govuk-!-padding-top-3">End-to-end user journey</a>

                                <a href="https://defra.sharepoint.com/:u:/r/sites/ea-leg-djw/WasteTrack/Shared%20Documents/04%20Service%20Design/Interaction%20Design/UX%20journey%20flows/Versions/Registration%20Receivers%20compressed%20user%20flow%20journey%20Dev%20build.svg?csf=1&web=1&e=cURn32" class="govuk-heading-s govuk-link--no-visited-state govuk-!-padding-bottom-6">Compressed user journey view</a>

                        </div>

                        <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

                                <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Onboarding / Registration</h2>
                                <strong class="first-capital govuk-tag govuk-tag--green govuk-!-margin-top-4">
                        Tested
                        </strong>

                                <a href="/layouts/Private-beta/Onboarding/V3/start-page.html" class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version 3</a>

                                <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">What we tested</h3>

                                <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-padding-bottom-2">

                                        <li class="govuk-!-padding-bottom-2">
                                                <strong>Registration</strong> &#8211; to understand if waste receivers can register without support when they join the new digital waste tracking service, especially their understanding of if they need to register each legal entity separately, and how they would expect to register these multiple legal entities. 
                                </li>

                                        <li class="govuk-!-padding-bottom-2">
                                                <strong>Onboarding to private beta</strong> &#8211; o evaluate waste receivers' understanding of the guidance pages, and what additional guidance is required by waste receivers, to support them to join the private beta service.
                                </li>

                                        <li class="govuk-!-padding-bottom-2">
                                                <strong>Service charge</strong> &#8211; understand the most suitable method for paying the service charge, and test the full onboarding process for getting set up to use the service both in private beta and beyond.
                                </li>

                                </ol>

                        </div>

                        <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

                                <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Onboarding / Registration</h2>
                                <strong class="first-capital govuk-tag govuk-tag--green govuk-!-margin-top-4">
                        Tested
                        </strong>

                                <a href="/layouts/Private-beta/Onboarding/V2/start-page.html" class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version 2</a>

                                <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-4">What we tested</h3>

                                <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-padding-bottom-2">

                                        <li class="govuk-!-padding-bottom-2">
                                                <strong>Registration</strong> &#8211; to understand if waste receivers can register without support when they join the new digital waste tracking service, especially their understanding of if they need to register each legal entity separately, and how they would expect to register these multiple legal entities. 
                                </li>

                                        <li class="govuk-!-padding-bottom-2">
                                                <strong>Onboarding to private beta</strong> &#8211; to evaluate waste receivers' understanding of the guidance pages, and what additional guidance is required by waste receivers, to support them to join the private beta service.
                                </li>

                                        <li class="govuk-!-padding-bottom-2">
                                                <strong>Service charge</strong> &#8211; understand the most suitable method for paying the service charge, and test the full onboarding process for getting set up to use the service both in private beta and beyond.
                                </li>

                                        <li class="govuk-!-padding-bottom-2">
                                                <strong>Defra ID</strong> &#8211; assess the suitability of the existing Defra ID journey for managing multiple legal entities, especially when the parent company needs to manage them all centrally.
                                </li>

                                </ol>

                        </div>

                        <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

                                <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Onboarding / Registration</h2>
                                <strong class="first-capital govuk-tag govuk-tag--green govuk-!-margin-top-4">
                        Tested
                        </strong>

                                <a href="/layouts/Private-beta/Onboarding/V1/start-page.html" class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version 1</a>

                                <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-4">What we tested</h3>

                                <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-padding-bottom-2">

                                        <li class="govuk-!-padding-bottom-2">
                                                <strong>Registration</strong> &#8211; to understand if waste receivers can register without support when they join the new digital waste tracking service, especially their understanding of if they need to register each legal entity separately, and how they would expect to register these multiple legal entities. 
                                </li>

                                        <li class="govuk-!-padding-bottom-2">
                                                <strong>Onboarding to private beta</strong> Onboarding to private beta - to evaluate waste receivers' understanding of the guidance pages, and what additional guidance is required by waste receivers, to support them to join the private beta service. to evaluate waste receivers’ understanding of the guidance pages, and what additional guidance is required by waste receivers, to support them to join the private beta service.
                                </li>

                                        <li>
                                                <strong>Service charge</strong> &#8211; understand the most suitable method for paying the service charge, and test the full onboarding process for getting set up to use the service both in private beta and beyond.
                                </li>

                                </ol>

                        </div>

                </div>
        </div>

{% endblock %}