{% extends "layouts/main.html" %}

{% set serviceName %}
  Report receipt of waste
{% endset%}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

{% endblock %}

{% block content %}

    <div class="govuk-grid-row govuk-!-padding-bottom-6">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Your site is now setup to report receipt of waste 
          </h1>
          {# <div class="govuk-panel__body">
            Your reference number<br><strong>HDJ2123F</strong>
          </div> #}
        </div>
        <p class="govuk-body">We have sent you a confirmation email.</p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
          You can add more sites or change your details at any time.
          </p>
          
          <a href="/layouts/Private-beta/Onboarding/V1/waste-account-1-site" class="govuk-link">Return to my Report receipt of waste account</a>


        {# <p class="govuk-body">
          <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p> #}
      </div>
    </div>

{% endblock %}