{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

        <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds">

                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
                                <span class="govuk-caption-xl">Private Beta</span>
                                Report receipt of waste
                        </h1>

                        <p class="govuk-body-l govuk-!-padding-bottom-5">
                                <span class="govuk-body-l govuk-!-font-weight-bold">User group:</span>
                        Waste receivers
                        </p>

                        <P class="govuk-body-l govuk-!-margin-top-3 govuk-!-margin-bottom-6">
                        December 2025 
                        </p>

                        <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

                                <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Sending waste movements</h2>
                                <strong class="first-capital govuk-tag govuk-tag--blue govuk-!-margin-top-4">
                        Not tested
                        </strong>

                                <a href="/layouts/Private-beta/Waste-movements/V1/API/waste-receivers" class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-6 govuk-!-padding-bottom-2">API journey</a>

                                <a href="/layouts/Private-beta/Waste-movements/V1/Spreadsheet/waste-receivers" class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-bottom-2">Spreadsheet journey</a>

                                <a href="/layouts/Private-beta/Waste-movements/V1/change-format/waste-receivers" class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-bottom-2">Change Spreadsheet to API journey</a>

                                <a href="/layouts/Private-beta/Waste-movements/V1/Spreadsheet/upload-spreadsheet-error-1" class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-bottom-2">Upload spreadsheet error 1</a>

                                <a href="/layouts/Private-beta/Waste-movements/V1/Spreadsheet/upload-spreadsheet-error-2" class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-bottom-2">Upload speadsheet error 2</a>

                                <h3 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-4">What we tested</h3>

                                <h4 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-4">Primary objectives</h4>

                                <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-margin-bottom-0govuk-!-padding-bottom-0">

                                        <li>
                                                <strong>Evaluate the usability, navigation and comprehension</strong> &#8211; of the “Send a waste movement” journey within the waste receiver account on the DWT service. 
                                                </li>
                                        <li>
                                                <strong>Evaluate waste receivers' comprehension of DWT guidance</strong> &#8211; including whether it clearly sets expectations about: 
                                                </li>
                                </ol>
                                <ol class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-left-3">

                                        <li>what DWT is?</li>
                                        <li>what WRs are required to do?</li>
                                        <li>how they should prepare to comply?</li>

                                </ol>

                                <h4 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-4">Specifically, this research will explore:</h4>

                                <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-4">
                                        Whether WRs can: 
                                        </p>

                                <ol class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-0govuk-!-padding-bottom-0">

                                        <li>
                                                understand the guidance
                                                </li>

                                        <li>
                                                navigate to and choose an appropriate method for sending a waste movement
                                                </li>
                                        <li>
                                                locate and understand how to obtain an API code for automatic submission of waste movements
                                                </li>
                                        <li>
                                                send a waste movement using the spreadsheet approach
                                                </li>

                                </ol>

                                <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-4">
                                        Key pain points, uncertainties and blockers across: 
                                        </p>

                                <ol class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-0govuk-!-padding-bottom-0">

                                        <li>
                                                the guidance and content
                                                </li>

                                        <li>
                                                the waste receiver account journeys
                                                </li>

                                </ol>


                                <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-4">
                                        Opportunities to improve: 
                                        </p>

                                <ol class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-0govuk-!-padding-bottom-0">

                                        <li>
                                                the clarity and usefulness of Waste Receiver guidance
                                                </li>

                                        <li>
                                                the design of the waste receiver account and “send a waste movement” journeys
                                                </li>

                                </ol>

                        </div>

                </div>
        </div>

{% endblock %}