{% extends "layouts/main.html" %}

{% set serviceName %}
  Defra account
{% endset%}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        <span class="govuk-visually-hidden">This section is: </span>Register Defra account
    </span>
      <h1 class="govuk-heading-l">Check your answers</h1>

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  card: {
    title: {
      text: "Defra account"
    }
  },
  rows: [
    {
      key: {
        text: "Account type"
      },
      value: {
        text: data['Business or organisation 2']
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "age"
          }
        ]
      }
    }
  ]
}) }}

{{ govukSummaryList({
  card: {
    title: {
      text: "Business details"
    }
  },
  rows: [
    {
      key: {
        text: "Type"
      },
      value: {
        text: data['trade-uk-2']
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "whether details are known"
          }
        ]
      }
    },
    {
      key: {
        text: "Name"
      },
      value: {
        text: 'Joe B Recycling Ltd'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "relationship to lead tenant"
          }
        ]
      }
    },
    {
      key: {
        text: "Company number"
      },
      value: {
        text: data['registrationCompanyNumber2']
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "age"
          }
        ]
      }
    },
    {
      key: {
        text: "Registered address"
      },
      value: {
        text: '26 Sample Street,
        Sample Town,
        Sampleshire,
        United Kingdom,
        PH39 4NS'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "working situation"
          }
        ]
      }
    },
    {
      key: {
        text:"Telephone number"
      },
      value: {
        text: data['registrationPhone2']
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "working situation"
          }
        ]
      }
    },
    {
      key: {
        text: "Email address"
      },
      value: {
        text: data['registrationEmail2']
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "working situation"
          }
        ]
      }
    }
  ]
}) }}

      <form method="post" action="/layouts/Private-beta/MVP-Registration/V2/S2/WR2/2nd-org-added">

        <input type="hidden" id="registrationStatus" name="registrationStatus" value="Enrolled">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm and complete registration
        </button>

      </form>

    </div>
  </div>

{% endblock %}