{% extends "layouts/main.html" %}
{% extends "/layouts/main.html" %}

{% block header %}
  {% from "govuk/components/header/macro.njk" import govukHeader %}

  {{ govukHeader({
  homepageUrl: "#"
}) }}

  {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

    {{ govukServiceNavigation({
      classes: "govuk-!-margin-bottom-2",
      serviceName: serviceName,
      serviceUrl: "wr1-account"
    }) }}

{% endblock %}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="/layouts/Private-beta/Waste-movements/designs">give your feedback (opens in new tab)</a>.'
}) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-form-group">

      <div class="govuk-grid-column-two-thirds">

              <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
        data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            You need to pay your annual service charge for [Waste receiving organisation or business name] before you can
            report your waste movements.
          </p>
          <p class="govuk-body">If you need help or have a question about the service charge, call 03000 203 781.</p>
        </div>
      </div>

        <span class="govuk-caption-l">[Waste receiving organisation or business name]</span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Download Receipt of waste spreadsheet</h1>

        <p class="govuk-body govuk-!-margin-top-4">If you do not have the software needed to use the API, download the spreadsheet to report your waste.</p>

          <button type="submit" class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
            Download spreadsheet
            </button>
 
        <p class="govuk-body govuk-!-padding-top-4">
          <a href="wr1-account-due" class="govuk-link govuk-link--no-visited-state">Return to [Waste receiving organisation or business name] waste receiving account</a>
        </p>

      </div>
    </div>

  {% endblock %}