{% extends "layouts/main.html" %}

{% set serviceName %}
  Defra account
{% endset%}

{% block beforeContent %}

  {# {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }} #}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Enter the verification code</h1>

      <p class="govuk-body">We have sent a 6-digit verification code to <span class="govuk-!-font-weight-bold">con****@************kit.net</span></p>

      <p class="govuk-body">It may take a few minutes to arrive and will expire in 10 minutes.</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
                    If the verification code has not arrived
                    </span>
        </summary>
        <div class="govuk-details__text">
          <p>If you have not received the email you can <a href="#">resend the verification code</a>.</p>
        </div>
      </details>

      <form action="/layouts/Private-beta/Onboarding/V2/defra-id/new-enrolment" method="post">

        <input type="hidden" id="status" name="status" value="">

        <div class="govuk-form-group">
          <label class="govuk-label govuk-visually-hidden">
            Enter the verification code
          </label>

          <input class="govuk-input govuk-input--width-10" id="" name="" type="text">

        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

      <details class="govuk-details" data-module="govuk-details">

        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Need more help?</span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">Contact [Service name] by phone or email.</p>
          <p class="govuk-body">Telephone:<br>
                        [Service telephone number]</p>
          <p class="govuk-body">Email:<br>
            <a href="#" class="govuk-link govuk-link--no-visited-state">[Service email]</a>
          </p>
          <p class="govuk-body">Service opening times:<br>
                        [Service Opening Hours], except public holidays</p>
          <p class="govuk-body">
            <a href="https://www.gov.uk/call-charges" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="”_blank”">Find out about call charges (opens in new tab)</a>
          </p>
          <a href="https://www.gov.uk/call-charges" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="”_blank”"></a>
        </div>
        <a href="https://www.gov.uk/call-charges" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="”_blank”"></a>
      </details>
    </div>
  </div>

{% endblock %}