{% extends "layouts/main.html" %}

{% set serviceName %}
  Defra account
{% endset%}

{% block beforeContent %}

    {# {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

    {{ govukPhaseBanner({
    tag: {
        text: "Prototype"
        },
        html: 'This is a prototype. It is not a real service.'
        }) }} #}

    <div class="login-nav">
        <ul class="login-nav__list">
            <li class="login-nav__list-item">
			
						
				Joe Bloggs |</li>

            <li class="login-nav__list-item">
                <a href="#" class="govuk-link login-nav__link govuk-link--no-visited-state profile">Account home</a>|</li>
            <li class="login-nav__list-item">
                <a href="#" class="govuk-link login-nav__link govuk-link--no-visited-state">Sign out</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">        

        <div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    Account has been added
  </h1>
  
</div>


        <p class="govuk-body">The account J &#38; D Receivers has been added and will now be shown on Your Defra account page.</p>

        <h3 class="govuk-heading-m">What you can do next</h3>

        <p class="govuk-body">The following services are available for you to register this account with.</p>
        <ul class="govuk-list">
            <li><a class="govuk-link" href="/layouts/Private-beta/Onboarding/V2/J2/start-page">Report receipt of waste</a></li>
        </ul>

        <p class="govuk-body"><a href="/layouts/Private-beta/Onboarding/V2/defra-id/manage-related-org" class="govuk-link">Continue without registering a service</a></p>
 

  </div>
</div>

{% endblock %}