{% extends "layouts/main.html" %}

{% set serviceName %}
  Defra account
{% endset%}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">We are changing the way you can sign in to Defra services</h1>

      <p>You can now use GOV.UK One Login, a new government service to sign in. At the moment you can only use it to access some government services. In the future, you'll be able to use it to sign in to most services on GOV.UK.</p>

      <p>You can also sign in using a Government Gateway account if you have one.</p>
      <div class="govuk-form-group">

        <form class="form" action="/layouts/Private-beta/Onboarding/V2/defra-id/sign-in-answer" method="post">

          <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
        Already have an existing Defra account
      </h2>
            </legend>

            <div class="govuk-radios" data-module="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="one-or-gov-gateway-1" name="one-or-gov-gateway" type="radio" value="Sign in with One Login" aria-describedby="sign-in-item-hint">
                <label class="govuk-label govuk-radios__label" for="one-or-gov-gateway-1">
                    Sign in with GOV.UK One Login
                  </label>

                <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                    If you don't have a GOV.UK One Login, you can create one.
                  </div>

              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="one-or-gov-gateway-2" name="one-or-gov-gateway" type="radio" value="Sign in with Government Gateway" aria-describedby="sign-in-2-item-hint">
                <label class="govuk-label govuk-radios__label" for="one-or-gov-gateway-2">
                    Sign in with Government Gateway
                  </label>

                <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
                    You'll have a user ID if you've registered for Self Assessment or filed a tax return online before.
                  </div>

              </div>

            </div>

          </fieldset>
          
          <h2 class="govuk-heading-m govuk-!-padding-top-8">Register a new Defra account or get help signing in</h2>
          
          <p>If you <a href="#">tell us your email address</a> we can check to see if you have an existing Defra account and how you sign in to Defra services.</p>

          <p>
            <a class="govuk-link" href="#">Register for a new Defra account</a>
          </p>

        </div>


        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>

      </form>

    </div>
  </div>

{% endblock %}