{% extends "layouts/main.html" %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
        text: "Prototype"
        },
        html: 'This is a prototype. It is not a real service.'
        }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
        <h1 class="govuk-panel__title">
          Enrolment complete
        </h1>

      </div>

      <p>
        
        <span class="govuk-!-font-weight-bold"></span> have been successfully enrolled, and you are now acting as their representative.</p>
        
        <p class="govuk-body">
          
          <a href="/layouts/Private-beta/Onboarding/V1/what-activity" class="govuk-link govuk-link--no-visited-state">Continue to report receipt of waste</a>
        
        </p>

    </div>
    
    <div class="govuk-grid-column-one-third review">
      
      <ul class="govuk-list govuk-body-s govuk-!-text-align-right"></ul>
    
    </div>
  
  </div>

{% endblock %}