{% extends "layouts/main.html" %}

{% block header %}
  {% from "govuk/components/header/macro.njk" import govukHeader %}
  {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

  {{ govukHeader({
    homepageUrl: "#"
  }) }}

  {{ govukServiceNavigation({
    classes: "govuk-!-margin-bottom-2",
    serviceName: "Report receipt of waste",
    serviceUrl: "../account-home",
    navigation: [
      {
        href: "../account-home",
        text: "Waste account",
        active: true
      },
      {
        href: "#",
        text: "Manage Defra account"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}

{% endblock %}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="/not-yet-built">give your feedback (opens in new tab)</a>.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "waste-weight"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Who is carrying the waste?</h1>

      <form method="post" action="check-answers">

        {{ govukInput({
          label: {
            text: "Carrier's company name"
          },
          hint: {
            text: "The company registered to carry this waste"
          },
          id: "carrier-name",
          name: "carrier-name",
          value: data['carrier-name']
        }) }}

        {{ govukInput({
          label: {
            text: "Carrier permit number"
          },
          hint: {
            text: "For example, CBDU12345 or EAWML123456"
          },
          id: "carrier-permit-number",
          name: "carrier-permit-number",
          classes: "govuk-input--width-20",
          value: data['carrier-permit-number']
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
