{% extends "layouts/main.html" %}

{% block header %}
  {% from "govuk/components/header/macro.njk" import govukHeader %}
  {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

  {{ govukHeader({
    homepageUrl: "#"
  }) }}

  {{ govukServiceNavigation({
    classes: "govuk-!-margin-bottom-2",
    serviceName: "Report receipt of waste",
    serviceUrl: "../account-home",
    navigation: [
      {
        href: "../account-home",
        text: "Waste account",
        active: true
      },
      {
        href: "#",
        text: "Manage Defra account"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}

{% endblock %}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="/not-yet-built">give your feedback (opens in new tab)</a>.'
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Waste movement recorded",
        html: "Your reference number<br><strong>WM-2026-00142</strong>"
      }) }}

      <p class="govuk-body govuk-!-margin-top-6">We have saved your waste movement record.</p>

      <h2 class="govuk-heading-m">What you can do next</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="start" class="govuk-link">Record another weighbridge delivery</a>
        </li>
        <li>
          <a href="../account-home" class="govuk-link">Return to your waste receiving account</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Give feedback on this service</h2>

      <p class="govuk-body">
        <a href="/not-yet-built" class="govuk-link">Tell us what you think of this service (opens in new tab)</a>. It takes 30 seconds.
      </p>

    </div>
  </div>

{% endblock %}
