{% extends "layouts/main.html" %}

{% block header %}
  {% from "govuk/components/header/macro.njk" import govukHeader %}
  {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

  {{ govukHeader({
    homepageUrl: "#"
  }) }}

  {{ govukServiceNavigation({
    classes: "govuk-!-margin-bottom-2",
    serviceName: "Report receipt of waste",
    serviceUrl: "../account-home",
    navigation: [
      {
        href: "../account-home",
        text: "Waste account"
      },
      {
        href: "#",
        text: "Manage Defra account"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}

{% endblock %}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="/not-yet-built">give your feedback (opens in new tab)</a>.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "waste-hazardous"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="/weighbridge-recording/carrier-details">

        {{ govukInput({
          label: {
            text: "What is the weight of the waste?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Enter the net weight as a number"
          },
          id: "waste-weight",
          name: "waste-weight",
          classes: "govuk-input--width-5",
          value: data['waste-weight']
        }) }}

        {{ govukRadios({
          name: "waste-weight-unit",
          fieldset: {
            legend: {
              text: "Unit of measurement"
            }
          },
          items: [
            {
              value: "tonnes",
              text: "Tonnes",
              checked: data['waste-weight-unit'] == "tonnes" or not data['waste-weight-unit']
            },
            {
              value: "kilograms",
              text: "Kilograms",
              checked: data['waste-weight-unit'] == "kilograms"
            },
            {
              value: "grams",
              text: "Grams",
              checked: data['waste-weight-unit'] == "grams"
            }
          ]
        }) }}

        {{ govukCheckboxes({
          name: "waste-weight-estimated",
          fieldset: {
            legend: {
              text: "Estimated weight"
            }
          },
          items: [
            {
              value: "yes",
              text: "Is the waste weight estimated?",
              checked: data['waste-weight-estimated'] == "yes"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}