{% extends "layouts/main.html" %}
{% extends "/layouts/main.html" %}

{% block header %}
  {% from "govuk/components/header/macro.njk" import govukHeader %}

  {{ govukHeader({
  homepageUrl: "#"
}) }}

  {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

  {{ govukServiceNavigation({
    classes: "govuk-!-margin-bottom-2",
    serviceName: "Report receipt of waste",
    serviceUrl: "#"
  }) }}

{% endblock %}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="/layouts/Private-beta/Web-form/Idea-A/J1/waste-sites-paid">give your feedback (opens in new tab)</a>.'
}) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Waste receiver name 2</span>
      <h1 class="govuk-heading-l">Your receipt of waste</h1>

      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

      {{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Format"
      },
      value: {
        text: data['send-waste']
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Waste contains POPs"
      },
      value: {
        text: data['Pops-waste']
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Waste contains Hazardous"
      },
      value: {
        text: data['haz-waste']
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    }
  ]
}) }}

      <form method="post" action="/layouts/Private-beta/Waste-movements/V1/Spreadsheet/spreadsheet-download">

        <input type="hidden" id="registrationStatus" name="registrationStatus" value="Enrolled">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

      <p class="govuk-body govuk-!-padding-top-4">
        <a href="/layouts/Private-beta/Waste-movements/V1/Spreadsheet/waste-receivers-complete" class="govuk-link govuk-link--no-visited-state">Return to your waste receivers</a>
      </p>

    </div>

  {% endblock %}