{% extends "layouts/main.html" %}
{% extends "/layouts/main.html" %}

{% block header %}
  {% from "govuk/components/header/macro.njk" import govukHeader %}

  {{ govukHeader({
  homepageUrl: "#"
}) }}

  {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

  {{ govukServiceNavigation({
    classes: "govuk-!-margin-bottom-2",
    serviceName: "Report receipt of waste",
    serviceUrl: "#"
  }) }}

{% endblock %}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="/layouts/Private-beta/Web-form/Idea-A/J1/waste-sites-paid">give your feedback (opens in new tab)</a>.'
}) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-form-group">

      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  <a href="#full-name-input">Your file is not in the correct format. Your file must be in the correct file format. You will need to download the spreadsheet again and complete it.</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <span class="govuk-caption-l">Waste receiver name 2</span>

        <h1 class="govuk-heading-l">Upload your spreadsheet</h1>

        <div class="govuk-form-group govuk-form-group--error">

          <dl class="govuk-summary-list govuk-!-margin-bottom-0">
            <div class="govuk-form-group govuk-form-group--error">
              <p id="full-name-input-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>Your file is not in the correct format. Your file must be in [file format]. You will need to download the spreadsheet again and complete it.  
              </p>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    File 1
                  </dt>
                <dd class="govuk-summary-list__value">
                  <a download href="/" class="govuk-link">WR-Oct-WK-1.xlsx</a>, 3MB
                  </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> file 1</span></a>
                </dd>
              </div>

            </dl>

          </div>

          <form class="form" action="/layouts/Private-beta/Waste-movements/V1/Spreadsheet/confirmation" method="post">

            <button type="submit" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
            Download spreadsheet
          </button>

          </form>
          
          <p class="govuk-body govuk-!-padding-top-4">
            <a href="/layouts/Private-beta/Waste-movements/V1/Spreadsheet/waste-receivers-complete" class="govuk-link govuk-link--no-visited-state">Return to your waste receivers</a>
          </p>

        </div>
      </div>

    {% endblock %}