{% extends "layouts/main.html" %}

{% set serviceName %}
  Report receipt of waste
{% endset%}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/layouts/Private-beta/Onboarding/V1/check-site-details-additional-site" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
              Do you have an associated site permit authorisation number?
            </h1>
            </legend>
            <div id="contact-hint" class="govuk-hint">
            Select one option
          </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="permit-number-yes" name="permit-number" type="radio" value="Yes" data-aria-controls="conditional-contact">
                <label class="govuk-label govuk-radios__label" for="permit-number-yes">
                    Yes
                  </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-email">
                  Permit authorisation number
                </label>
                  <input class="govuk-input  govuk-input--width-20" id="contact-by-email" name="contactByEmail" type="email" spellcheck="false" autocomplete="email">
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="permit-number-no" name="permit-number" type="radio" value="No" data-aria-controls="conditional-contact-2">
                <label class="govuk-label govuk-radios__label" for="permit-number-no">
                No
              </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-phone"></label>
                </div>
              </div>

            </div>
          </div>

          <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
          </button>

        </form>

      </fieldset>
    </div>
  </div>
</div>

{% endblock %}