{% extends "layouts/main.html" %}

{% set serviceName %}
  Defra account
{% endset%}

{% block beforeContent %}

  {# {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
        text: "Prototype"
        },
        html: 'This is a prototype. It is not a real service.'
        }) }} #}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/layouts/Private-beta/Onboarding/V3/defra-id/account-type" method="post">

        <span class="govuk-caption-l">
          <span class="govuk-visually-hidden">This section is: </span>Register Defra account
    </span>
        <h1 class="govuk-heading-l">What we need from you</h1>

        <p class="govuk-body">You must tell us your:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>full name</li>
          <li>telephone number</li>
          <li>email address</li>
        </ul>

        <p class="govuk-body">If you are registering as a business you may also need to tell us your:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>company registration number</li>
          <li>registered business address</li>
          <li>business contact details</li>
        </ul>

        <form method="post" action="/register/account-type" class="govuk-!-margin-top-7">

          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>

      </div>
    </div>

  {% endblock %}