{% extends "layouts/main.html" %}

{% set serviceName %}
  Defra account
{% endset%}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-form-group">

      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">
          <span class="govuk-visually-hidden">This section is: </span>Register Defra account
        </span>

        

          <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What kind of business or organisation are you?
              </h1>
            </legend>


            <div class="govuk-radios govuk-radios govuk-!-padding-top-4" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="businessorOrg-1" name="businessorOrg" type="radio" value="Charity">
                <label class="govuk-label govuk-radios__label" for="businessorOrg-1">
                  Charity
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="businessorOrg-2" name="businessorOrg" type="radio" value="Sole trader">
                <label class="govuk-label govuk-radios__label" for="businessorOrg-2">
                  Sole trader
                </label>
              </div>
            </div>
          </fieldset>

          <button type="submit" class="govuk-!-margin-top-6 govuk-button" data-module="govuk-button">
          Continue
        </button>

        </div>


    </div>

  {% endblock %}