{% extends "layouts/main.html" %}

{% set serviceName %}
  Defra account
{% endset%}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-form-group">

    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        <span class="govuk-visually-hidden">This section is: </span>Register Defra account
        </span>


      <form method="post" action="/layouts/Private-beta/Onboarding/V3/defra-id/uk-org-answer">


      <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Is the business registered to trade in the UK?
          </h1>
        </legend>


        <div class="govuk-!-padding-top-6 govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="registrationAccountType-1" name="registrationAccountType" type="radio" value="Yes create an account">
            <label class="govuk-label govuk-radios__label" for="registrationAccountType-Yes-1">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="registrationAccountType-Yes-2" name="registrationAccountType" type="radio" value="No I don't have permission">
            <label class="govuk-label govuk-radios__label" for="registrationAccountType-Yes-2">
              No
            </label>
          </div>
        </div>
      </fieldset>

        <button type="submit" class="govuk-!-margin-top-6 govuk-button" data-module="govuk-button">
          Continue
        </button>

    </div>
  </form>



</div>

{% endblock %}