{% extends "layouts/main.html" %}

{% set serviceName %}
  Defra account
{% endset%}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        <span class="govuk-visually-hidden">This section is: </span>Register Defra account
    </span>
      <h1 class="govuk-heading-l">What's the business's telephone number and email address?</h1>

      <form action="/layouts/Private-beta/Onboarding/V3/J2/defra-id/check-answers" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label" for="registrationPhone">
            UK Telephone number
          </label>

          <div id="registrationPhone-hint" class="govuk-hint">
            For example, 01632 960 001 or 07700 900 982.
          </div>

          <input class="govuk-input govuk-!-width-two-thirds" id="registrationPhone" name="registrationPhone" type="tel" aria-describedby="registrationPhone-hint">

        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label" for="registrationEmail">
            Email address
          </label>

          <input class="govuk-input govuk-!-width-two-thirds" id="registrationEmail" name="registrationEmail" type="email">

        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}