{% extends "layouts/main.html" %}

{% set serviceName %}
  Defra account
{% endset%}

{% block beforeContent %}

    <div class="login-nav">
        <ul class="login-nav__list">
            <li class="login-nav__list-item">
			
						
				Joe Bloggs |</li>

            <li class="login-nav__list-item">
                <a href="/layouts/Private-beta/Onboarding/V2/defra-id/id-account-2-accounts-+-service" class="govuk-link login-nav__link govuk-link--no-visited-state profile">Account home</a>|</li>
            <li class="login-nav__list-item">
                <a href="/layouts/Private-beta/Onboarding/V2/no-design-yet" class="govuk-link login-nav__link govuk-link--no-visited-state">Sign out</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <span class="govuk-caption-xl">
                <span class="govuk-visually-hidden">This section is: </span>Account for
    </span>
            <h1 class="govuk-heading-xl">A &#38; B Receivers</h1>

            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                Change account
            </span>
                </summary>

                <div class="govuk-inset-text">

                    <p class="govuk-body">
                        <a href="/layouts/Private-beta/Onboarding/V2/defra-id/manage-parent-org-1" class="govuk-link govuk-link--no-visited-state">Joe Waste &#38; Co Ltd</a>
                    </p>

                    <p class="govuk-body govuk-!-padding-bottom-0">

                        <p class="govuk-body">A &#38; B Receivers
                        </p>

                    </details>

                </div>

                <div class="govuk-grid-column-full">

                    <div class="govuk-grid-row">

                        <div class="govuk-grid-column-one-third">
                            <div class="govuk-card govuk-card--contained govuk-card--selectable">
                                <a href=""></a>
                                <div class="govuk-card__content">
                                    <h3 class="govuk-heading-m">
                                        <a href="#" class="govuk-link--no-visited-state">Manage team access</a>
                                    </h3>
                                    <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-font-weight-bold">1</p>
                                </div>
                                <div class="govuk-card__actions">
                                    <ul class="govuk-list govuk-!-mb-r0">
                                        <li>
                                            <a href="#" class="govuk-link--no-visited-state">Add a team member</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="govuk-grid-column-one-third ">
                            <div class="govuk-card govuk-card--contained govuk-card--selectable">
                                <a href=""></a>
                                <div class="govuk-card__content">
                                    <h3 class="govuk-heading-m">
                                        <a href="#" class="govuk-link--no-visited-state">Manage intermediary access</a>
                                    </h3>
                                    <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-font-weight-bold">0</p>
                                </div>
                                <div class="govuk-card__actions">
                                    <ul class="govuk-list govuk-!-mb-r0">
                                        <li>
                                            <a href="" class="govuk-link--no-visited-state">Add an intermediary</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="govuk-grid-column-one-third ">
                            <div class="govuk-card govuk-card--contained govuk-card--selectable">
                                <a href="#"></a>
                                <div class="govuk-card__content">
                                    <h3 class="govuk-heading-m">
                                        <a href="#" class="govuk-link--no-visited-state">Manage your organisation</a>
                                    </h3>

                                    <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-font-weight-bold">0</p>

                                </div>

                                <div class="govuk-card__actions">
                                    <ul class="govuk-list govuk-!-mb-r0">
                                        <li>
                                            <a href="#" class="govuk-link--no-visited-state">Add related organisation</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                    </div>

                    <h2 class="govuk-heading-l govuk-!-margin-top-7">Your registered services</h2>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            <div class="govuk-card govuk-card--contained govuk-card--selectable">
                                <a href="/layouts/Private-beta/Onboarding/V3/J2/legal-entities+1"></a>
                                <div class="govuk-card__content">
                                    <h3 class="govuk-heading-m">Report receipt of waste</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <form action="/layouts/Private-beta/Onboarding/V3/J2/defra-id/no-design-yet" method="post">

                        <button type="submit" class="govuk-button" data-module="govuk-button">
                        Register for more services
                    </button>

                    </form>

                </div>
            </div>

        {% endblock %}