{% extends "layouts/main.html" %}

{% set serviceName %}
  Defra account
{% endset%}

{% block beforeContent %}

    <div class="login-nav">
        <ul class="login-nav__list">
            <li class="login-nav__list-item">
			
						
				Joe Bloggs |</li>

            <li class="login-nav__list-item">
                <a href="/layouts/Private-beta/Onboarding/V2/defra-id/id-account-2-accounts" class="govuk-link login-nav__link govuk-link--no-visited-state profile">Account home</a>|</li>
            <li class="login-nav__list-item">
                <a href="/layouts/Private-beta/Onboarding/V2/no-design-yet" class="govuk-link login-nav__link govuk-link--no-visited-state">Sign out</a>
            </li>
        </ul>

    </div>

    <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">Register for more services</h1>

            <p class="govuk-body">The following services are available for you to register J &#38; D Receivers with.</p>

            <p class="govuk-body">To register click the links below.</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>
                    <a class="govuk-link" href="/layouts/Private-beta/Onboarding/V3/J2/defra-id/new-org-service-registered">Report receipt of waste</a>
                </li>
            </ul>

        </div>
    </div>

{% endblock %}